<nav aria-label="breadcrumb">
    <ol class="breadcrumb border bg-transparent shadow-sm">
        <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
            (click)="homeRouterInit()">
            Home
        </li>
        <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
            (click)="indentListInit()">
            <u>Indent List</u>
        </li>
    </ol>
</nav>
<div class="mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card rounded-0" style="max-width: 100%; padding:0.5rem 0.5rem;background-color: white;">

                    <div class="card-body bg-started content-center"
                        style="background-color: white ;padding-bottom: initial; padding:0px;padding-left:4px;">
                        <span class="ishida-color" style="font-size: 0.8rem;font-weight: 500;">Filter by Indent
                            List</span>
                        <hr class="mt-1">
                        <form>
                            <div class="row" style="padding-left:17px;">
                                <div class="form-check form-check-inline" style="margin-right:auto; margin-bottom:5px;">
                         
                                    <select class="custom-select cusselcss rounded-0" [(ngModel)]="indentType"
                                        name="indentType" id="indentType"  (change)="onChangeIndentTypeGetData()"
                                         style="font-size:small; color:#212529;">
                                        <option *ngFor="let indentType of indentTypeList" [value]="indentType.value">{{indentType.label}}
                                        </option>
                                    </select>    
                                </div>

                                <div class="form-check form-check-inline" style="margin-right:auto;">
                                    <input class="form-check-input" type="radio" [(ngModel)]="indentRange"
                                        name="indentRange" id="selectDate" value="option2" (change)="setRangeDate()">
                                    <div class="input-group input-group-sm ">
                                        <label class="col-form-label mr-2" style="font-size: 0.8rem;font-weight: 400;"
                                            for="selectDate">From
                                            Date</label>
                                        <input class="form-control ipgcss1 rounded-0 " [ngClass]="{'text-danger':error}"
                                            [(ngModel)]="rfromDate" name="rfromDate" placeholder="yyyy-mm-dd"
                                            [minDate]="{year: Year[5].value, month: 1, day: 1}"
                                            [maxDate]="{year: Year[1].value, month: 12, day: 31}" ngbDatepicker
                                            #d1="ngbDatepicker" (ngModelChange)="fetchIndentByDate()" style="color:#212529;"
                                            aria-describedby="inputGroup-sizing-sm" readonly>
                                        <div class="input-group-append">
                                            <button style="min-height: 30px; height: fit-content;" (click)="d1.toggle()"
                                                type="button" [disabled]="!rangeDateFlag">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm  ml-4">
                                        <label for="" class=" mr-2 col-form-label"
                                            style="font-size: 0.8rem;font-weight: 400;" for="selectDate">To
                                            Date</label>
                                        <input class="form-control ipgcss1 rounded-0 " [(ngModel)]="rtoDate"
                                            name="rtoDate" placeholder="yyyy-mm-dd"
                                            [minDate]="{year: Year[5].value, month: 1, day: 1}"
                                            [maxDate]="{year: Year[1].value, month: 12, day: 31}" ngbDatepicker style="color:#212529;"
                                            #d2="ngbDatepicker" (ngModelChange)="fetchIndentByDate()" readonly>
                                        <div class="input-group-append">
                                            <button style="min-height: 30px; height: fit-content;" (click)="d2.toggle()"
                                                type="button" [disabled]="!rangeDateFlag">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline" style="margin-right:auto;">
                                    <input class="form-check-input" type="radio" [(ngModel)]="indentRange"
                                        name="indentRange" id="selectYear" value="option3" (change)="setSelectYear()">
                                    <label class="form-check-label"
                                        style="font-size: 0.8rem;font-weight: 400;width:160px;" for="selectYear">
                                        Select Year
                                    </label>
                                    <select class="custom-select cusselcss rounded-0" [(ngModel)]="selectYear"
                                        name="selectYear" id="inlineFormCustomSelectPref" [disabled]="!selectYearFlag"
                                        (change)="fetchIndentByYear()" style="font-size:small; color:#212529;">

                                        <option *ngFor="let year of Year" [value]="year.value">{{year.label}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-check form-check-inline responsive-conditional-div" >
                                    <input class="form-check-input" type="radio" [(ngModel)]="indentRange"
                                        name="indentRange" id="conditionalFilter" value="option4"
                                        (change)="setConditionalFilter()">
                                    <label class="form-check-label responsive-conditional-label-width"
                                        style="font-size: 0.8rem;font-weight: 400;" for="conditionalFilter">
                                        Conditional Filter
                                    </label>
                                    <select class="custom-select cusselcss rounded-0 ml-2 responsive-conditional-select-width"
                                        [(ngModel)]="conditionalFilterValue" name="conditionalFilterValue"
                                        id="conditionalFilterSelect" [disabled]="!conditionalFilterFlag"
                                        (change)="onChangeFetchConditionalData()" style="font-size:small; color:#212529;">

                                        <option *ngFor="let option of conditionalFilter" [value]="option.value">
                                            {{option.label}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </form>
                        <hr style="margin-top:6px; margin-bottom:6px;">

                        <div class="col-12" style="background-color: whitesmoke; height: 35px; padding:0px;">
                            <div class="row">
                                <div class="col-8 ml-0" style="margin-top:3px;">
                                    <div class="input-group input-group-sm mb-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text ipgcss2 rounded-0"><i
                                                    class="fa fa-fw fa-search"></i></div>
                                        </div>
                                        <input type="search" class="form-control ipgcss1 rounded-0"
                                            placeholder="Search... " maxlength="{{searchMaxLength}}"
                                            [(ngModel)]="searchText" style="width:400px;" (input)="globalSearchKeyUp()"
                                            title="search box" required>
                                    </div>
                                </div>
                                <div class="col-4 mt-2">

                                    <a style="cursor: pointer;" data-toggle="modal" data-target="#outputFilter"
                                        (click)="openModel()"
                                        style="font-size: 0.8rem;font-weight: 500; cursor: pointer;"
                                        class="ishida-color float-right mr-2">
                                        OUTPUT FILTER
                                    </a>
                                    <a style="cursor: pointer;" class="float-right mr-4 ishida-color"
                                        style="font-size: 0.8rem;font-weight: 500; cursor: pointer;" (click)="reset()">
                                        RESET FILTER
                                    </a>
                                    <a style="cursor: pointer;" class="float-right mr-4 ishida-color"
                                        (click)="exportCSV()"
                                        style="font-size: 0.8rem;font-weight: 500; cursor: pointer;">
                                        EXPORT TO CSV
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Start code for tabs---------------------------- -->
                <div class="card cardtabCss border-0">
                    <div class="input-group  input-group-sm" style=" height: 26px;">
                        <div class="input-group-append ipgAppCss"
                            style="margin-left: initial;margin-right: initial;margin-bottom: initial;">
                            <button id="btnUpdte1" class="btn btnGrpUpdate" type="button" title="IND"
                                [ngClass]="{'btnTranspCss':indField}" (click)="onClickShowIndList()"
                                style=" border-left-width: 2px; border-left-color: rgb(40, 46, 137);">
                                IND
                            </button>

                            <button id="btnUpdte2" class="btn btnGrpUpdate" type="button" title="PI"
                                [ngClass]="{'btnTranspCss':piField}" (click)="onClickShowPiList()">
                                PI
                            </button>
                            <button id="btnUpdte3" class="btn btnGrpUpdate" type="button" title="II-PO"
                                [ngClass]="{'btnTranspCss':iipoField}" (click)="onClickShowIipoList()">
                                II-PO
                            </button>

                            <button id="btnUpdte4" class="btn btnGrpUpdate" type="button" title="II-OC"
                                [ngClass]="{'btnTranspCss':iiocField}" (click)="onClickShowIiocList()">
                                II-OC
                            </button>

                            <button id="btnUpdte5" class="btn btnGrpUpdate" type="button" title="VD-OC"
                                [ngClass]="{'btnTranspCss':vdocField}" (click)="onClickShowVdocList()">
                                VD-OC
                            </button>

                            <button id="btnUpdte6" class="btn btnGrpUpdate" type="button" title="LC"
                                [ngClass]="{'btnTranspCss':lcField}" (click)="onClickShowLcList()">
                                LC
                            </button>
                            <button id="btnUpdte7" class="btn btnGrpUpdate" type="button" title="VD-SHP"
                                [ngClass]="{'btnTranspCss':vdShpField}" (click)="onClickShowVdShpList()">
                                VD-SHP
                            </button>

                            <button id="btnUpdte8" class="btn btnGrpUpdate" type="button" title="VD-EXF"
                                [ngClass]="{'btnTranspCss':vdExfField}" (click)="onClickShowVdExfList()">
                                VD-EXF
                            </button>

                            <button id="btnUpdte9" class="btn btnGrpUpdate" type="button" title="II-EXF"
                                [ngClass]="{'btnTranspCss':iiExfField}" (click)="onClickShowIiExfList()">
                                II-EXF
                            </button>

                            <button id="btnUpdte10" class="btn btnGrpUpdate" type="button" title="BG"
                                [ngClass]="{'btnTranspCss':bgField}" (click)="onClickShowBgList()">
                                BG
                            </button>

                            <button id="btnUpdte11" class="btn btnGrpUpdate" style="min-width: 95px;" type="button"
                                title="INV/eWB" [ngClass]="{'btnTranspCss':invField}" (click)="onClickShowInvEwbList()">
                                INV/eWB
                            </button>

                            <button id="btnUpdte12" class="btn btnGrpUpdate" type="button" title="PMT"
                                [ngClass]="{'btnTranspCss':pmtField}" (click)="onClickShowPmtList()">
                                PMT
                            </button>

                            <button id="btnUpdte13" class="btn btnGrpUpdate" type="button" title="COM"
                                [ngClass]="{'btnTranspCss':comField}" (click)="onClickShowComList()">
                                COM
                            </button>

                            <button id="btnUpdte14" class="btn btnGrpUpdate rounded-0"
                                style="border-right-width: 2px;border-right-color: rgb(40, 46, 137);" type="button" title="NXT ACT"
                                [ngClass]="{'btnTranspCss':nxtActField}" (click)="onClickShowNxtActList()">
                                NXT ACT
                            </button>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <!-- End code for tabs ------------------------------- -->
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="card" style="max-width: 100%">
                    <div class="card-header bg-started content-center" style="padding:initial">
                        <div class='table-res scroll mr-5'>
                            <table class="table table-sm table-hover table-striped table-res" style="margin-bottom:0; border: none;">
                                <thead class="header" style="background:#282e89; color:white;  border: none;">
                                    <tr class="text-center">
                                        <ng-container *ngFor="let title of indentHeader;  let i = index;">
                                            <th [ngClass]="{ 'not-ind-header':!indField && i < generalDetailColumn}">{{title}}</th>
                                        </ng-container>
                                    </tr>


                                </thead>
                                <tbody>

                                    <tr *ngIf="indentBody.length==0">
                                        <td colspan="172">
                                            <div class="jumbotron jumbotron-fluid"
                                                style="height: calc(100vh - 26.1rem); padding-left:0px; padding-top:0px;">
                                                <p class="lead text-ishida">{{emptyListMssg}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let row of indentBody| slice:startIndex:endIndex+1" >
                                        <ng-container *ngFor="let data of row;  let first = first;">
                                            <td *ngIf="first" title="{{data}}" (dblclick)="onDoubleClickIndent(data)"
                                                class="indentNoCSS">{{data}}</td>
                                            <td *ngIf="!first" title="{{data}}">{{data}}</td>
                                        </ng-container>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-2 text-ishida">
            <div class="col" *ngIf="pages>0">
                <div class="d-inline-block">Show </div>
                <div class="d-inline-block ml-2">
                    <form [formGroup]="selectPagesForm">
                        <div class="form-group">
                            <select class="form-control form-control-sm selectpicker " style="width:auto;"
                                formControlName="pages" (change)="changeOnePageRow()">
                                <option *ngFor="let pages of onePageRowList" [value]="pages">{{pages}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="d-inline-block ml-2">Indents | Showing {{startIndex+1}} to {{endIndex+1}} of
                    {{indentBody.length}} Indent Details.
                </div>
            </div>
            <div class="col float-right" style="cursor:pointer;">
                <nav aria-label="Page navigation example" *ngIf="pages>1" class="float-right">
                    <ul class="pagination justify-content-end">
                        <li class="page-item ishida-font user-select-none" (click)="prevPage()"
                            [ngClass]="{ 'disabled disable-cursor':prevButtonDisabled()}">
                            <a class="page-link">Previous</a>
                        </li>
                        <ng-container *ngIf="startPageButtonDisabled">
                            <li class="page-item disabled ishida-font disable-cursor"><a class="page-link">...</a></li>
                        </ng-container>
                        <ng-container *ngFor="let page of pageList">
                            <li class="page-item ishida-font" [ngClass]="{'activePage': selectedPage==page}"><a
                                    class="page-link " (click)="pageSelectButton(page)">{{page}}</a></li>
                        </ng-container>
                        <ng-container *ngIf="endPageButtonDisabled">
                            <li class="page-item disabled ishida-font disable-cursor"><a class="page-link">...</a></li>
                        </ng-container>

                        <li class="page-item ishida-font  user-select-none" (click)="nextPage()"
                            [ngClass]="{ 'disabled disable-cursor':nextButtonDisabled()}">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade fixed-left" id="outputFilter" tabindex="-1" role="dialog"
        aria-labelledby="modalScrollableTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-notify modal-success modal-dialog-aside"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Output Filter</h4>
                </div>
                <div class="modal-body">




                    <div class="lGpadBott" *ngFor="let dselecttype of dselectType">
                        <li class="list-group-item lgifilListCss rounded-0 d-flex justify-content-between align-items-center pointer-cursor"
                            data-toggle="collapse" data-target="#collapseOne"
                            (click)="listColumns(dselecttype.value, dselecttype.viewValue)"
                            *ngIf="dselecttype.value==optionId || showAll" style="height:40px !important;">
                            {{dselecttype.viewValue}}
                            <span class="badge badge-pill">
                                <i class="fa fa-angle-down fa-2x" *ngIf="showAll" style="color: rgb(40, 46, 137);"
                                    aria-hidden="true"></i>
                                <i class="fa fa-angle-up fa-2x" *ngIf="!showAll" style="color: rgb(40, 46, 137);"
                                    aria-hidden="true"></i>
                            </span>
                        </li>
                    </div>
                    <div class="card crdboderCss rounded-0" *ngIf="show">


                        <div class="card-body tabCarbodyCss">
                            <ngContent *ngIf="optionId==1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set1)" name="filter" [checked]="allSet.set1">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">

                                    <div class="" *ngFor=" let column of generalDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">

                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        [disabled]="column.value.name=='Indent Sheet No' || column.value.name=='Indent Issue Date' "
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked);"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>

                            <ngContent *ngIf="optionId==2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set2)" name="filter" [checked]="allSet.set2">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of poDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>

                            <ngContent *ngIf="optionId==3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set3)" name="filter" [checked]="allSet.set3">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of accountDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set4)" name="filter" [checked]="allSet.set4">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of paymentDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==5">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set5)" name="filter" [checked]="allSet.set5">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of comDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set6)" name="filter" [checked]="allSet.set6">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of applicationDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set7)" name="filter" [checked]="allSet.set7">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of shpInst1Details|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set8)" name="filter" [checked]="allSet.set8">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of shpInst2Details|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set9)" name="filter" [checked]="allSet.set9">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of indRemarksDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set10)" name="filter" [checked]="allSet.set10">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of piDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==11">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set11)" name="filter" [checked]="allSet.set11">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of lcDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set12)" name="filter" [checked]="allSet.set12">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of exfDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==13">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set13)" name="filter" [checked]="allSet.set13">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="" *ngFor=" let column of shpAdvDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>
                            <ngContent *ngIf="optionId==14">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input pointer-cursor" type="checkbox" id="selectAll"
                                        (change)="setAllCheck(!allSet.set14)" name="filter" [checked]="allSet.set14">
                                    <label class="form-check-label ishida-color h6" for="selectAll">All Set</label>
                                </div>
                                <hr>
                                <div class="scrollCard">
                                    <div class="col-12" *ngFor=" let column of salesAdminDetails|keyvalue:unsorted">
                                        <div style="width:200px;  margin-bottom:5px;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="checkbox" style="margin-left:15px;"
                                                        aria-label="Checkbox for following text input"
                                                        [checked]="column.value.checked"
                                                        (change)="column.value.checked=!column.value.checked; setAllSetCheckbox(column.value.checked)"
                                                        id="{{column.value.name}}" class="pointer-cursor">
                                                </div>
                                                <div class="col-10">
                                                    <label class="form-check-label pointer-cursor"
                                                        for="{{column.value.name}}">{{column.value.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngContent>

                        </div>



                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn rounded-0 ishida-bg" aria-label="Close" data-dismiss="modal"
                        (click)="outputFilterApply();">
                        Apply
                    </button>
                    <button type="button" class="btn rounded-0 ishida-bg" aria-label="Close" data-dismiss="modal"
                        style="background-color:rgb(220, 53, 69);" (click)="outputFilterCancel();">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

