.bgfotcol {
  font-size: 0.8rem;
  font-weight: 400;
    background-color:rgb(40, 46, 137);
    color: white;
}
  
  .bgbodycrd {
    background-color: #E4EBF0 ;
  }
  
  
  .bgbodycrd :hover {
    transform: scale(1.3);
   
  }
  
  .pdright {
    padding-right: 4px;
    margin-top: 80px;
    cursor: pointer;
  }
  
  .breadcrumb {
    margin-top: 2rem;
  margin-bottom: initial;
  padding: 5px 15px !important;
  background-color:white;
  font-size: 0.8rem;
  font-weight: 400;
  }
  

  .modalConCss {
    min-width: 800px;
  }

  .modelBodyCss {
    overflow-y: inherit;
  }

  .scrollCard {
    height: calc(100vh - 33rem);
  
    overflow-y: scroll;
    overflow-x: hidden;
  } 

  .conCss {
    width: 900px;
  }

  .nopadding {
    padding: 0 !important;
}

.content {
    padding: 20px;
}

.unstyled {
  list-style-type: none;
 
}

.scrollNActList {
  height: calc(100vh - 26rem);

  overflow-y: auto;
  overflow-x: hidden;
}

 

  .ipCss {
    background-color: #E4EBF0 ;
    color:rgb(40, 46, 137);
    outline: none;
    box-shadow: none !important;
    font-size: 0.8rem;
    font-weight: 400;
    min-height: 30px;
    max-height: 30px;
  }

  .ipCssbtn {
    background-color: #E4EBF0 ;
    color:rgb(40, 46, 137);
    height: 31px;
    outline: none;
    box-shadow: none !important;
    border-bottom:3px solid;
    border-color: #E4EBF0 ;
      font-size: 0.8rem;
    font-weight: 400;
    min-height: 30px;
    max-height: 30px;
  }

  .ipListGroupCss {
    padding-top:initial;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 400;
    background-color:white;
    color:rgb(40, 46, 137);
    outline: none;
    box-shadow: none !important;
  }

  .ipListGroupActCss {
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 500;
    background-color:white;
    color:rgb(40, 46, 137);
  }


  
.ipgDetCss {
  outline: none;
  box-shadow: none !important;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  background-color: transparent;
}

.ipgcss {
  width:130px;
  min-width: 130px;
  max-width: 130px;
  background-color: transparent;
  outline: none;
  box-shadow: none !important;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
}

.pbtncss {
border-right-width: 10px;
  outline: none;
  box-shadow: none !important;
}

.indtbl li.selected {
  background-color: rgb(230, 230, 250);
}

.lgcollcss {
  margin-left: 1.8rem;
}

.rpcss {
  padding-right: 3%;
}






