
<nav aria-label="breadcrumb">
  <ol class="breadcrumb border bg-transparent shadow-sm"> 
    <li class="breadcrumb-item active"  style="color:rgb(40, 46, 137); cursor: pointer;" 
    aria-current="page"
    (click)="homeRouterInit()">
    <u>Home</u>
    </li>
  </ol>
</nav>

<div class="container-fluid  mt-2">
  <div class="row" style="justify-content: center;">
  <div class="pdright">
    <div class="card border-0" style="width: 15rem;" (click)="dashboardInit()">
      <div class="card-body  bgbodycrd">
        <div class="text-center">
          <i class="fa fa-dashboard fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
        </div>
      </div>
      <div class="card-footer text-center bgfotcol" >
        DASHBOARD
      </div>
    </div>
  </div>
  <div *ngIf="showIboard" class="pdright">
    <div class="card border-0" style="width: 15rem;" (click)="iboardPlanningInit()">
      <div class="card-body  bgbodycrd">
        <div class="text-center">
          <i class="fa fa-television fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
        </div>
      </div>
      <div class="card-footer text-center bgfotcol" >
        IBOARD PLANNING
      </div>
    </div>
  </div>
    <div class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="indentMagmentInit()">
        <div class="card-body bgbodycrd">
          <div class="text-center">
            <i class="fa fa-tasks  fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-footer text-center bgfotcol">
          INDENT MANAGEMENT
        </div>
      </div>
    </div>
    <div *ngIf="showFileUpload" class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="fileMagmentInit()">
        <div class="card-body bgbodycrd">
          <div class="text-center">
            <i class="fa fa-upload fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-footer text-center bgfotcol">
          FILE UPLOAD
        </div>
      </div>
    </div>
    <div *ngIf="showFileManagement" class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="indentListInit()">
        <div class="card-body bgbodycrd">
          <div class="text-center">
            <i class="fa fa-list fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-footer text-center bgfotcol">
          INDENT LIST
        </div>
      </div>
    </div>

    <!-- <div *ngIf="globalEnableButtons" class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="userMagmentInit()">
        <div class="card-body bgbodycrd">
          <div class="text-center">
            <i class="fa fa-address-card fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-footer text-center bgfotcol">
          USER MANAGEMENT
        </div>
      </div>
    </div> -->

    <div *ngIf="globalEnableButtons" class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="userMagmentInit()">
          <div class="card-body bgbodycrd">
              <div class="text-center">
                  <i class="fa fa-cogs fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
              </div>
          </div>
          <div class="card-footer text-center bgfotcol">
              SETTINGS
          </div>
      </div>
  </div>

    <div class="pdright">
      <div class="card border-0" style="width: 15rem;" (click)="serviceMagmentInit()">
        <div class="card-body bgbodycrd">
          <div class="text-center">
            <i class="fa fa-empire  fa-4x" style="color:rgb(118, 123, 194);" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-footer text-center bgfotcol">
          SERVICE MANAGEMENT
        </div>
      </div>
    </div>

    </div>
  </div>

  <div class="container-fluid mt-2" *ngIf="indentAllFormDetail">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="input-group input-group-sm" style="border-style:ridge; max-height: 35px;">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-sm rounded-0  ipCssbtn"  style="cursor:text;" >
              <i class="fa fa-list" aria-hidden="true"></i>
            </button>
          </div>
          <input type="text" value="NEXT ACTION" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"   style="max-width: 100px;"  readonly />
          <input type="text" value="INDENT NUMBER" style="min-width: 120px;" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"    readonly />
          <input type="text" value="SOS SUMMARY" style="min-width: 120px;" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"     readonly />
          <input type="text" style="min-width: 150px;"  value="USER ACCOUNT NAME" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"   readonly />
          <input type="text" value="FOR INFO" style="min-width: 120px;max-width: 120px;" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"    readonly />
          <input type="text" value="UPDATED BY" style="max-width: 100px;" class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"     readonly />
          <input type="text" value="ACTION" style="max-width: 80px;"  class="form-control rounded-0 ipCss" aria-label="Small"
            aria-describedby="button-addon1"     readonly />
        </div> 

        <ul class="list-group unstyled">
          <div class="scrollNActList">
            <li data-toggle="collapse" *ngFor="let item of nextActionList;  let i = index"
              style="transform: rotate(0); color:rgb(118, 123, 194);" data-toggle="modal" data-target="#details-dialog"
              data-backdrop="static" data-keyboard="false">
              <div class="input-group input-group-sm mt-1">
            
                <!-- <div class="input-group-prepend ">
                  <button style="color:rgb(40, 46, 137); background-color:white; cursor:text;" type="button"
                    class="btn btn-sm rounded-0 pbtncss" >
                
                    {{i+1}}
                  </button>

                </div> -->

                <input type="text" readonly value="{{i+1}}" style="max-width: 40px;"
                class="form-control rounded-0 border-0 ipCss ipListGroupCss" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" />

                <input type="text" style="max-width: 100px;" readonly value="{{ item.next_check | date: 'yyyy-MM-dd' }}"
                  class="form-control rounded-0  border-0 ipCss ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                <input type="text" style="min-width: 120px;"  readonly value="{{  item.indent_sheet_num }}"
                  class="form-control rounded-0 border-0 ipCss ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                <input type="text" style="min-width: 120px;" readonly value="{{  item.sos_summary }}"
                  class="form-control rounded-0 border-0 ipCss ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                <input type="text" style="min-width: 150px;" readonly value="{{  item.user_acnt_name }}"  data-toggle="tooltip" data-placement="left" title="{{  item.user_acnt_name }}"
                  class="form-control rounded-0 border-0 ipCss ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                <input type="text" style="min-width: 120px;max-width: 120px;" readonly value="{{  item.for_info }}"  data-toggle="tooltip" data-placement="left" title="{{  item.for_info  }}"
                  class="form-control rounded-0 border-0 ipCss ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                <input type="text" readonly style="max-width: 100px;"  value="{{  item.updated_by }}"
                  class="form-control rounded-0 border-0  ipListGroupCss" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm" />

                  <span style="max-width: 80px;" class="form-control rounded-0 border-0 ipListGroupActCss">
                    <a style="cursor: pointer;" 
                      (click)="onModalOpenDetailDialog(item.indent_sheet_num)"
                      style="font-size: 0.8rem;font-weight: 500; cursor: pointer;">
                      DETAIL
                    </a>
                    
                  </span>
                
              </div>

            </li>
          </div>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>