.breadcrumb {
  margin-top: 2rem;
  margin-bottom: initial;
  padding: 5px 15px !important;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 400;
}


.nav-tabs {
  border-bottom: 2px solid #dee2e6;
}

.nav-link {
  color: #333;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.nav-link.active {
  /* background-color: #fff; */
  border-bottom: 2px solid rgb(40, 46, 137);

}

.nav-link:hover {
  color: rgb(40, 46, 137);
}


.navlinkcss {
  font-size: 12px;
  font-weight: 500;
  background-color: transparent;
  color: #2E3192;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

  border-color: transparent;
  background-color: transparent;
  border-bottom: solid #2E3192;
  color: #2E3192;
  font-size: 12px;
  font-weight: 500;
  /* margin: 0px 0px -1px; */
}

.nav-link:hover {
  border-color: transparent;
}

.nav-tabs {
  background-color: transparent;
  position: relative;
  color: #282e89 !important;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
  border-bottom: transparent;
}

.confludCss {
  padding: initial;

}


.ipgcsstitle {
  background-color: transparent;
  outline: none;
  box-shadow: none !important;
  border-top: 0px;
  color: rgb(40, 46, 137);
  font-size: small;
  font-weight: 500;
}


.ipgcsstitle1 {
  background-color: transparent;
  outline: none;
  box-shadow: none !important;
  border-bottom-width: 2px;
  border-bottom-color: rgb(40, 46, 137);
  border-top: 0px;
  color: rgb(40, 46, 137);
  font-size: small;
  font-weight: 500;
}


.footerupdate {
  height: 40px;
  max-height: 40px;
  /* position: fixed; */
  bottom: 2px;
  text-align: center;
  border-top: rgb(230, 230, 250);
  border-top-style: inset;
  background-color: white;
}


.indtbl li {
  /* cursor: pointer; */
  max-height: 80px;
}

.indtbl li.selected {
  background-color: rgb(230, 230, 250);
}

.indtbl .badge {
  font-size: small;
  font-weight: 500;
  color: rgb(40, 46, 137);
  padding-right: 10px;
}

.indtbl {
  width: max-content;
  min-width: 100%;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* cursor: pointer; */
}


.lgiexpandCss {
  line-height: 1rem;
  color: rgb(40, 46, 137);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.30rem;
  background-color: white;

}

.ipgcss1 {
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-bottom-width: 2px;
  outline: none;
  box-shadow: none !important;
}

.lbllistcss {
  margin-top: 0px;
  margin-bottom: 0px;
  /* cursor: pointer; */
}


.lindent {
  height: calc(100vh - 11rem) !important;
  width: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  behavior: 'smooth'
}

.lindent2 {
  height: calc(100vh - 11rem) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  behavior: 'smooth';
  margin-top: -3px;
}

.jumbo {
  /* height:800px; */
  padding-top: 250px;
  background-color: transparent;
  color: rgb(40, 46, 137);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  border: 0;
}

.disabled-icon {
  pointer-events: none;
  opacity: 0.6;
  border: 0;
}

.ipgDetCss1 {
  width: 100px;
  font-size: 0.8rem;
  font-weight: 400;
  /* max-height: 35px; */
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
}


.highlight-row {
  background-color: rgb(230, 230, 250);
  transition: background-color 0.5s ease;
}

.myButton {
  float: right;
  background-color: transparent;
  margin-right: 30px;
  border: none;
  outline: none;
}


.myButton:hover {
  border-bottom: 1px solid black;
}

.myButton1 {
  float: right;
  background-color: transparent;
  border: none;
  outline: none;
}


.myButton1:hover {
  border-bottom: 1px solid black;
  /* box-shadow: 0 5px 0 #ffbf0e; */
}

.myButton2 {
  float: right;
  background-color: transparent;
  margin-right: 30px;
  border: none;
  outline: none;
}


.myButton2:hover {
  border-top: 1px solid black;
}

.highlight {
  background-color:rgb(230,230,250);
}