
.form-container{
  /* margin: 150px 0px 100px 0px; */
  /* align-items: center; */
  /* justify-content: center middle; */
  margin-top: 100px;
  margin-bottom: 100px;
  background: #fff;
  padding: 20px;
  border-radius:10px;
  border-style: none;
  /* box-shadow: 0px 0px 2px 0px #000; */
  /* border-width:5px #282e89;
  border-style:solid; */
  width:350px;
  min-height: 340px;
}

.forgetform-container{ 
    background: #fff;
    border-radius:5px;
    box-shadow: 0px 0px 2px 0px #000; 
  }

body{
    background-color: #f9f9f9;
}

input{
    border: 1px solid #282e89;;
    border-radius:0px;
    margin-bottom: 15px;
}

.heading{
    color: #282e89;
}

.input-group-prepend{
    border: 1px solid #282e89;;
    border-radius:0px;
}

input:focus{
    box-shadow:none;
    border-color:#282e89;
}
  
.login-btn{
    border-color:#282e89;
    margin-top:25px;
} 

.label{
    color:#282e89;
    margin-bottom: 0px;
    padding-top: 15px;
}

.btn-outline-ishida{color:#282E89;border-color:#282E89}.btn-outline-ishida:hover{color:#fff;background-color:#282E89;border-color:#282E89}.btn-outline-ishida.focus,.btn-outline-ishida:focus{box-shadow:0 0 0 .2rem rgba(40,46,137,.1)}.btn-outline-ishida.disabled,.btn-outline-ishida:disabled{color:#282E89;background-color:transparent}.btn-outline-ishida:not(:disabled):not(.disabled).active,.btn-outline-ishida:not(:disabled):not(.disabled):active,.show>.btn-outline-ishida.dropdown-toggle{color:#fff;background-color:#282E89;border-color:#282E89}.btn-outline-ishida:not(:disabled):not(.disabled).active:focus,.btn-outline-ishida:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-ishida.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,46,137,.1)}
  
/* forget password */
.conflucss {
    margin-top: 0px;  
    border-style: ridge;
    border-color: rgb(40, 46, 137);
    border-width: thin;
  } 

body {
    background-position: center;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none
}

.forgot {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf
}

.card-footer {
    background-color: #fff
}

.btn {
    font-size: 13px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
}

.invalid-tooltip{
  position:absolute;
  top:3px;
  right:5px;
  color:#dc3545;
  background:transparent;
}

.form-control.is-invalid{
  background-image: none;
}


 
.image-widescreen{
  border: 1px solid #282E89;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden;
}

.image-widescreen img {
  width: 100%;
}

.margin-top-image{
  margin-top: 630px;
}

