<div style="background-color: #f0f2f5; height: 100vh;">
        <section *ngIf="!globalIsMaintenanceEnable" class='container-fluid' style="font-size: 0.8rem;">
                <section class='row justify-content-center'>
                        <!-- <section class="col-12 col-sm-6 col-md-3"> -->
                        <form class='form-container' [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="text-center" style="margin-top:0;margin-bottom:28px;">
                                        <img class="img-responsive" src="assets/brand/ishida.png">
                                </div>

                                <div class="col-auto mt-1">
                                        <div class="text-left" style="font-size:12px;font-weight: 400;">
                                                <div class="text-ishida">LOG IN TO IOTS</div>
                                        </div>
                                        <div class="input-group mb-3" style="margin-top: 2px;">
                                                <div class="input-group-prepend" >
                                                        <div class="input-group-text"><i
                                                                class="fa fa-user fa-lg fa-fw text-ishida"></i>
                                                        </div>
                                                </div>
                                                <input  type="text" class="form-control" style="font-weight: 400; font-size: 13px; color: #282e89;"
                                                        placeholder="User ID" formControlName="user_id"
                                                        [ngClass]="{'is-invalid':loginForm.get('user_id').invalid && loginForm.get('user_id').touched}"
                                                        required>
                                                <div *ngIf="loginForm.get('user_id').invalid && loginForm.get('user_id').touched && loginForm.get('user_id')?.errors.required"
                                                        class="invalid-tooltip" placement="top"
                                                        ngbTooltip="{{globalRequiredMsg}}">
                                                        <i class="fa fa-exclamation-triangle warning"
                                                                aria-hidden="true"></i>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-auto">
                                        <div class="input-group" style="position:relative;">
                                                <div class="input-group-prepend" >
                                                        <div class="input-group-text">
                                                                <i class="fa fa-lg fa-fw text-ishida"
                                                                        style="cursor: pointer;" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }" (click)="toggleFieldTextType()">
                                                                </i>
                                                        </div>
                                                </div>
                                                <input  [type]="fieldTextType ? 'text' : 'password'" style="font-weight: 400; font-size: 13px; color: #282e89;"
                                                        class="form-control is-invalid" placeholder="Password"
                                                        formControlName="password"
                                                        [ngClass]="{'is-invalid':loginForm.get('password').invalid && loginForm.get('password').touched}"
                                                        required>

                                                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password')?.errors.required"
                                                        class="invalid-tooltip" placement="top"
                                                        ngbTooltip="{{globalRequiredMsg}}">
                                                        <i class="fa fa-exclamation-triangle warning"
                                                                aria-hidden="true"></i>
                                                </div>
                                        </div>
                                        <div class="text-right">
                                                <button type="button" class="btn btn-link"
                                                        style="border-style: none; margin: 0; padding: 0; color: #7179df;"
                                                        (click)="openforgetPassword(forgetUserPassword)">
                                                        Forgot Password?
                                                </button>
                                        </div>
                                </div>
                                <div class="text-center">
                                        <button type="submit" class="btn login-btn btn-light"
                                                [disabled]="!loginForm.valid">
                                                <i class="fa fa-sign-in fa-2x fa-fw" style="color:#282E89;"
                                                        aria-hidden="true"></i>
                                        </button>
                                </div>
                        </form>
                        <!-- </section> -->
                </section>

                <!-- .................. forget password model ......................... -->
                <ng-template #forgetUserPassword let-modal>
                        <form class="forgetform-container" [formGroup]="forgetUserPasswordForm"
                                #forgetUserPassword="ngForm" (ngSubmit)="getNewPassword()">
                                <div class="modal-body" style="margin: 8px;">
                                        <div class="container-fluid conflucss">
                                                <div class="row justify-content-center">
                                                        <div class="col-12">
                                                                <div class="forgot mt-4">
                                                                        <h2 class="text-ishida">Forgot your password?
                                                                        </h2>
                                                                        <p class="text-ishida">Change your password in
                                                                                three
                                                                                easy steps. This will help you to reset
                                                                                your
                                                                                password!</p>
                                                                        <ol class="list-unstyled">
                                                                                <li class="text-ishida"><span
                                                                                                class="text-ishida text-medium"><b>
                                                                                                        1.
                                                                                                </b></span>Enter your
                                                                                        email
                                                                                        address below.</li>
                                                                                <li class="text-ishida"><span
                                                                                                class="text-ishida text-medium"><b>
                                                                                                        2. </b>
                                                                                        </span>Our
                                                                                        system will
                                                                                        send
                                                                                        you a temporary password. </li>
                                                                                <li class="text-ishida"><span
                                                                                                class="text-ishida text-medium"><b>
                                                                                                        3. </b>
                                                                                        </span>Use the
                                                                                        temporary
                                                                                        password sent to your registered
                                                                                        email
                                                                                        to login.</li>
                                                                        </ol>
                                                                </div>
                                                                <div class="card mt-4 mb-4">
                                                                        <div class="card-body">
                                                                                <div class="form-group text-ishida">
                                                                                        <label for="email-for-pass">Enter
                                                                                                your
                                                                                                email address</label>
                                                                                        <input class="form-control"
                                                                                                type="email"
                                                                                                id="email-for-pass"
                                                                                                formControlName="email"
                                                                                                autocomplete="email"
                                                                                                [ngClass]="{'is-invalid':forgetUserPasswordForm.get('email').invalid && (forgetUserPasswordForm.get('email').touched || forgetUserPasswordForm.get('email').dirty) }"
                                                                                                required>
                                                                                        <div *ngIf="forgetUserPasswordForm.get('email').invalid && forgetUserPasswordForm.get('email').touched && forgetUserPasswordForm.get('email')?.errors.required"
                                                                                                class="invalid-tooltip"
                                                                                                placement="top"
                                                                                                ngbTooltip="{{globalRequiredMsg}}"
                                                                                                style="position: absolute;
                                                                                        top: 55px;
                                                                                        right: 25px;">
                                                                                                <i class="fa fa-exclamation-triangle warning"
                                                                                                        aria-hidden="true"></i>
                                                                                        </div>
                                                                                        <div *ngIf="forgetUserPasswordForm.get('email').invalid && forgetUserPasswordForm.get('email').touched && forgetUserPasswordForm.get('email')?.errors.email"
                                                                                                class="invalid-tooltip"
                                                                                                placement="top"
                                                                                                ngbTooltip="{{globalInvalidEmailMsg}}"
                                                                                                style="position: absolute;
                                                                                        top: 55px;
                                                                                        right: 25px;">
                                                                                                <i class="fa fa-exclamation-triangle warning"
                                                                                                        aria-hidden="true"></i>
                                                                                        </div>
                                                                                        <small
                                                                                                class="form-text text-muted text-ishida">Enter
                                                                                                the registered email
                                                                                                address.
                                                                                                We'll email
                                                                                                a
                                                                                                temporary password to
                                                                                                this
                                                                                                address.</small>
                                                                                </div>
                                                                        </div>
                                                                        <div class="card-footer">
                                                                                <button type="submit"
                                                                                        class="btn btn-outline-ishida rounded-0"
                                                                                        [disabled]="!forgetUserPasswordForm.valid"
                                                                                        style="min-width: 133px">
                                                                                        Get New Password</button>
                                                                                <button type="button"
                                                                                        class="btn btn-outline-danger rounded-0 ml-2"
                                                                                        (click)="modal.dismiss('Cross click')"
                                                                                        style="min-width: 133px">
                                                                                        Back to Login</button>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </ng-template>


                <!-- .................. Change Password password model ......................... -->
                <ng-template #onChangePassword let-modal>
                        <form [formGroup]="changePasswordForm" #onChangePassword="ngForm" (ngSubmit)="changePassword()">
                                <div class="modal-body" style="margin: 8px;">
                                        <div class="container-fluid conflucss">
                                                <div class="row justify-content-center">
                                                        <div class="col-12">
                                                                <div class="forgot mt-4">
                                                                        <h2
                                                                                class="text-ishida d-flex justify-content-center">
                                                                                Reset Password</h2>
                                                                </div>
                                                                <div class="card mt-4 mb-4">
                                                                        <div class="card-body">
                                                                                <div class="col-auto mt-3">
                                                                                        <div class="input-group mb-3">
                                                                                                <div
                                                                                                        class="input-group-prepend">
                                                                                                        <div
                                                                                                                class="input-group-text">
                                                                                                                <i class="fa fa-lg fa-fw text-ishida "
                                                                                                                        aria-hidden="true"
                                                                                                                        style="cursor: pointer;"
                                                                                                                        [ngClass]="{
                                                        'fa-lock': !currPassFieldType,
                                                        'fa-unlock': currPassFieldType
                                                      }" (click)="toggleCurrFieldTextType()">
                                                                                                                </i>
                                                                                                        </div>
                                                                                                </div>
                                                                                                <input [type]="currPassFieldType ? 'text' : 'password'"
                                                                                                        class="form-control"
                                                                                                        placeholder="Current Password"
                                                                                                        formControlName="curr_password"
                                                                                                        autocomplete="current-password"
                                                                                                        [ngClass]="{'is-invalid':changePasswordForm.get('curr_password').invalid 
                                                                                                && changePasswordForm.get('curr_password').touched
                                                                                                || (isPassReset && changePasswordForm.get('curr_password').value != tempPassword)
                                                                                                || (isPassReset && changePasswordForm.get('curr_password').value === changePasswordForm.get('new_password').value)}">
                                                                                                <div *ngIf="changePasswordForm.get('curr_password').invalid && changePasswordForm.get('curr_password')?.errors.required"
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalRequiredMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                                <div *ngIf="isPassReset && changePasswordForm.get('curr_password').value != tempPassword"
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalIncorrectPassMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                                <div *ngIf="isPassReset && changePasswordForm.get('curr_password').value === changePasswordForm.get('new_password').value"
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalDiffNewAndCurrentPassMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="col-auto">
                                                                                        <div class="input-group mb-3">
                                                                                                <div
                                                                                                        class="input-group-prepend">
                                                                                                        <div
                                                                                                                class="input-group-text">
                                                                                                                <i class="fa fa-lg fa-fw text-ishida"
                                                                                                                        style="cursor: pointer;"
                                                                                                                        [ngClass]="{
                                                        'fa-eye-slash': !newPassFieldType,
                                                        'fa-eye': newPassFieldType
                                                      }" (click)="toggleNewFieldTextType()">
                                                                                                                </i>
                                                                                                        </div>
                                                                                                </div>
                                                                                                <input [type]="newPassFieldType ? 'text' : 'password'"
                                                                                                        class="form-control"
                                                                                                        placeholder="New Password"
                                                                                                        formControlName="new_password"
                                                                                                        autocomplete="new-password"
                                                                                                        [ngClass]="{'is-invalid':changePasswordForm.get('new_password').invalid && changePasswordForm.get('new_password').touched}"
                                                                                                        required>
                                                                                                <div *ngIf="changePasswordForm.get('new_password').invalid && changePasswordForm.get('new_password')?.errors.required"
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalRequiredMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                                <div *ngIf="changePasswordForm.get('new_password').invalid && changePasswordForm.get('new_password').dirty && changePasswordForm.get('new_password')?.errors?.pattern "
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalInvalidPasswordMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="col-auto">
                                                                                        <div class="input-group mb-3">
                                                                                                <div
                                                                                                        class="input-group-prepend">
                                                                                                        <div
                                                                                                                class="input-group-text">
                                                                                                                <i class="fa fa-lg fa-fw text-ishida"
                                                                                                                        style="cursor: pointer;"
                                                                                                                        [ngClass]="{
                                                        'fa-eye-slash': !confPassFieldType,
                                                        'fa-eye': confPassFieldType
                                                      }" (click)="toggleConfFieldTextType()">
                                                                                                                </i>
                                                                                                        </div>
                                                                                                </div>
                                                                                                <input [type]="confPassFieldType ? 'text' : 'password'"
                                                                                                        class="form-control"
                                                                                                        placeholder="Confirm Password"
                                                                                                        formControlName="confirm_password"
                                                                                                        autocomplete="new-password"
                                                                                                        [errorStateMatcher]="matcher"
                                                                                                        [ngClass]="{'is-invalid':changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password').touched}"
                                                                                                        required />
                                                                                                <div *ngIf="changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password')?.errors.required"
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalRequiredMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                                <div *ngIf="changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password').dirty && changePasswordForm.get('confirm_password')?.errors?.pattern "
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalInvalidPasswordMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                                <div *ngIf="changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password').dirty && changePasswordForm.get('confirm_password')?.errors?.mustMatch "
                                                                                                        class="invalid-tooltip"
                                                                                                        placement="left"
                                                                                                        ngbTooltip="{{globalDiffPasswordMsg}}">
                                                                                                        <i class="fa fa-exclamation-triangle warning"
                                                                                                                aria-hidden="true"></i>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div
                                                                                class="card-footer d-flex justify-content-center">
                                                                                <button type="submit"
                                                                                        class="btn btn-outline-ishida rounded-0 mr-2"
                                                                                        [disabled]="!changePasswordForm.valid"
                                                                                        style="min-width: 78px; max-width: 78px;">Change</button>
                                                                                <button type="button"
                                                                                        class="btn btn-outline-danger rounded-0"
                                                                                        aria-label="Close"
                                                                                        (click)="modal.dismiss('Cross click')"
                                                                                        style="min-width: 78px; max-width: 78px;">
                                                                                        Cancel </button>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </ng-template>
        </section>

        <section *ngIf="globalIsMaintenanceEnable" class='container-fluid'>
                <section class='row justify-content-center'>
                        <img src="assets/images/img1.gif" alt="" class="img-responsive img-fluid" />
                </section>
                <div class="text-center">
                        <h2 class="text-ishida">The site is down for a bit of maintenance right now. But soon we'll be
                                up and
                                notify you.</h2>
                </div>
        </section>

</div>
<ngx-ui-loader bgsColor="#282E89"></ngx-ui-loader>