.header{
    background:#282e89;
    color:white;
    }
  
  .scrollCard {
    height: calc(100vh - 13rem);  
    overflow-y: auto;
    overflow-x: auto;
    width:100%;  
  }
  
  .table-res thead th {
    position: sticky;
    top: 0; 
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
  }
  
  table th {
    background:#282e89;
  }

  table tr {
    line-height: 1rem !important;
    height: 1rem !important;
    padding:0px;
  }

  table th{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important; 
    table-layout:fixed;
  }
  table td{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important; 
    table-layout:fixed;
  }  
 
  .grid_sn{
    min-width: 25px;
  } 
  .grid_indentno{
    min-width: 80px;
  } 
  .grid_msgwidth{
    max-width: 250px;
  }   
  .grid_qty{
    max-width: 100px;
  }
  .grid_fixedwidth{
    max-width: 150px;
  } 
     
  .breadcrumb {
    margin-top: 2rem;
    margin-bottom: initial;
    padding: 5px 15px !important;
    background-color:white;
    font-size: 0.8rem;
    font-weight: 400;
  }
    
  .fontCss { 
    font-size: 0.8rem !important; 
    font-weight: 400;    
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
  }

  .ipgcss1 {
    background-color:white;
    outline: none;
    font-size:small; 
    font-weight:400;
    min-height: 30px;
    color:  rgb(40, 46, 137);
    box-shadow:none !important;
  }
  
  .ipgDetCss {
    width: 130px;
    font-size: 0.8rem;
    font-weight: 400;
    max-height: 30px;
    color:  rgb(40, 46, 137);
    background-color:rgb(230,230,250);
    border-bottom: transparent;
  }

  .ipgDetCss1 {
    width: 130px;
    font-size: 0.8rem;
    font-weight: 400;
    max-height: 30px;
    color:  rgb(40, 46, 137);
    background-color:rgb(230,230,250);
  }

  .btn-outline-ishida{color:#282E89;border-color:#282E89}.btn-outline-ishida:hover{color:#fff;background-color:#282E89;border-color:#282E89}.btn-outline-ishida.focus,.btn-outline-ishida:focus{box-shadow:0 0 0 .2rem rgba(40,46,137,.1)}.btn-outline-ishida.disabled,.btn-outline-ishida:disabled{color:#282E89;background-color:transparent}.btn-outline-ishida:not(:disabled):not(.disabled).active,.btn-outline-ishida:not(:disabled):not(.disabled):active,.show>.btn-outline-ishida.dropdown-toggle{color:#fff;background-color:#282E89;border-color:#282E89}.btn-outline-ishida:not(:disabled):not(.disabled).active:focus,.btn-outline-ishida:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-ishida.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,46,137,.1)}

.table tr.active td {  
  background-color:rgba(40,167,69,0.7) !important;  
  color: white;  
}

td{
  border:1px solid #dee2e6;
}
 
th{
  border-left:1px solid #dee2e6;
  border-bottom:1px solid #dee2e6;
}

td{
  border-left:none;
  border-top:none;
}

td:first-child {
  border-top:none;
  border-left:1px solid #dee2e6;
}

.table th{
    border-top:none;
}

