<nav aria-label="breadcrumb">
  <ol class="breadcrumb border bg-transparent shadow-sm">
    <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
      (click)="homeRouterInit()">
      Home
    </li>
    <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
      (click)="fileUploadRouterInit()">
      <u>File Upload</u>
    </li>
  </ol>
</nav>

<div class="fileProcessTyp pt-2 pr-4">
  <!-- <div class="form-check form-check-inline pl-4">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="selectUpload(1)"
      value="1" checked>
    <label class="form-check-label" for="inlineRadio1">File Upload</label>
  </div>
  <div class="form-check form-check-inline pl-4">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="selectDownload(2)"
      value="2">
    <label class="form-check-label" for="inlineRadio2">File Download</label>
  </div> -->

  <div *ngIf="successMessage" class="input-group-append" style="justify-content: flex-end;">
    <div class="alert alert-success input-group-text rounded-0 igpalert" id="inputGroup-sizing-sm" role="alert">
      <strong>Success !</strong>{{ alertSuccess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div *ngIf="warningMessage" class="input-group-append" style="justify-content: flex-end;">
    <div class="alert alert-warning input-group-text rounded-0 igpalert ml-5" id="inputGroup-sizing-sm" role="alert">
      <strong>Warning !</strong>{{ alertWarning }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div *ngIf="dangerMessage" class="input-group-append" style="justify-content: flex-end;">
    <div class="alert alert-danger input-group-text rounded-0 igpalert" id="inputGroup-sizing-sm" role="alert">
      <strong>Danger !</strong>{{ alertDanger }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

</div>
<div class="container">

  <div class="row" style="justify-content: center;">



    <div class="col-md-11 pt-5">
      <div class="card text-center">
        <div class="card-header" style="background-color:  rgb(40, 46, 137); color: white; height: 40px;">
          Upload Indent File
          <span style="float: right;">
            <i class="fa fa-upload " aria-hidden="true"></i>
          </span>
        </div>
        <div class="card-body">


          <form>
            <div class="form-group">
              <input type="text" readonly value="Choose File To Import [xls | xlsx]"
                class="form-control igclassTitle rounded-0 border-0" aria-label="Small" />

              <input #fileUploader type="file" class="form-control fileUploadCss rounded-0"
                (change)="selectFile($event)" (click)="onInputClick($event)" accept=".xlsx,.xls"
                style="color:rgb(40, 46, 137);" />
            </div>
          </form>
          <div *ngIf="fileDetailFlag">
            <table class="table table-sm">
              <thead class="tablecss">
                <tr>
                  <th scope="col" class="thstyle1">File Name</th>
                  <th scope="col" class="thstyle2">Size</th>
                  <th scope="col" class="thstyle3">Action</th>
                </tr>
              </thead>
              <tbody style="color:rgb(40, 46, 137);">
                <tr>
                  <td style="text-align: initial;">{{fileName}}</td>
                  <td nowrap>{{fileSize/1024/1024 | number:'.2'}} MB</td>
                  <td nowrap>

                    <button type="button" [disabled]="!selectedFiles" (click)="upload()"
                      class="btn btn-success btn-sm rounded-0" style="width: 100px;" data-toggle="modal"
                      data-target="#messageModal">
                      <span></span> Upload
                    </button>

                    <button type="button" *ngIf="isRevised" [disabled]="!selectedFiles"
                      (click)="onModalOpenDetailDialog(indentNumber)" class="btn btn-info btn-sm rounded-0 ml-2"
                      style="width: 100px;" data-toggle="modal" data-target="#details-dialog" data-backdrop="static"
                      data-keyboard="false">
                      <span></span> Compare
                    </button>

                    <button type="button" (click)="onClearFile()" class="btn btn-danger btn-sm rounded-0 ml-2"
                      style="width: 100px;">
                      <span></span> Cancel
                    </button>


                  </td>
                </tr>

              </tbody>
            </table>

            <!-- --------------------------------Modal start here------------------------------------------------>
            <div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" *ngIf="isLoadModal"
              data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-notify modal-success"
                role="document">
                <div class="modal-content modalConCss">
                  <div *ngIf="new_successMessage">
                    <div class="modal-header heading" style="background-color: #00c851;">
                      <h5 class="modal-title heading"><i class="fa fa-check-circle"></i>{{ alertSuccess }} {{title}}
                      </h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>

                  <div *ngIf="new_warningMessage">
                    <div class="modal-header heading" style="background-color: #fb3;">
                      <h5 class="modal-title heading"><i class="fa fa-exclamation-triangle"></i>{{ alertSuccess }}
                        {{title}}
                      </h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>

                  <div *ngIf="new_dangerMessage">
                    <div class="modal-header heading" style="background-color: #ff3547;">
                      <h5 class="modal-title heading"><i class="fa fa-times-circle"></i>{{ alertSuccess }} {{title}}
                      </h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>

                  <div class="modal-body">
                    <div *ngIf="errorCount == 1 || errorCount == 0">
                      <div *ngFor="let item of dynamicMsgValue">
                        <div class="row">
                          <div class="col-12">
                            <p>{{item.value}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="errorCount > 1 && errorCount <= 12">
                      <div class="row">
                        <div class="col-12">
                          <div *ngFor="let errData of errorList">
                            <p class="capitalize">{{errData}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="errorCount > 12">
                      <div class="scrollCard">
                        <div class="row">
                          <div class="col-12">
                            <div *ngFor="let errData of errorList">
                              <p class="capitalize">{{errData}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div *ngIf="new_successMessage">
                      <button type="button" class="btn btn-outline-success"
                        style="background-color: rgb(0, 200, 81); color: ghostwhite;" data-dismiss="modal"
                        (click)="onClearFile()">Close</button>
                    </div>
                    <div *ngIf="new_warningMessage">
                      <button type="button" class="btn btn-outline-warning"
                        style="background-color: rgb(255, 187, 51); color: ghostwhite;" data-dismiss="modal"
                        (click)="onClearFile()">Close</button>
                    </div>
                    <div *ngIf="new_dangerMessage">
                      <button type="button" class="btn btn-outline-danger"
                        style="background-color: rgb(255, 53, 71); color: ghostwhite;" data-dismiss="modal"
                        (click)="onClearFile()">Close</button>
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>


  </div>
  <!-- rowcom -->


</div>
