.lindent {
    height: calc(100vh - 12rem) !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
   
  
  
    .card {
      min-height: 100px;
      min-width: 145px;
      overflow: hidden;
      cursor: pointer;
      background-color:#337ab7;
  }
  
  .card.click {
    background-color:greenyellow;
  }
  
  .with-margin {
      margin-bottom: 5px;
    }
  
    .spacer5 {
      height: 5px;
    }
  
    .pd {
      padding-top: 20px; 
    }
  
    .ctfont {
        font-size:13px;
    }
  
    .pdcol {
     padding: 2px;
    }
  
   
  
  .pdtop {
    padding-top:5px;
  }
  
  #navbarserch input[type=text] {
    width:278px !important;
    
  }
  
  .btnbroder {
    border:none;
  }
  
  
  
  
  .navsec {
    background-color:#F5F5F5;
  
  }
  
  .fixwidlab {
   max-width:300px;
  }
  
  .fixwidip {
    max-width:320px !important;
  }
  
  
  
  
  
  .lblpdleft {
    padding-left: initial;
  }
  
  .fgpad {
    margin-bottom: 0rem;
  }
  
  .bgcs {
   text-align: left;
   width:200px;
  }
  
  .rightdrop {
    float: right !important;
  }
  
  .pdfilterD {
  padding-right: 25px;
  }
  
  .listtitle {
    background-color:#337ab7;
    color: white;
    max-height: 30px;
    padding-top: 0px;
  }
  
  .btntitle {
    position: relative;
    min-width: 200px !important;
    float: left;
  }
  
  
  
  
   .list-group-item  {
  max-height: 40px;
  font-size: 15px;
  } 
  
  
  
  .labelpd {
    padding-bottom: initial;
  }
  
  .card {
    background-color: transparent;
  }
  
  .card-header {
    max-height: 40px;
  }
  
  
  
  
  /* start new */
  
  .bdcpdicon {
    padding-left: 5px;
    padding-right: 10px;
  }
  
  .bcCss {
    background-color:white;
    margin-bottom: 10px;
    padding-bottom: initial;
  }
  
  .confludCss {
    padding-left: 5px;
    
  }
  
  .lGpadBott {
    margin-bottom: 5px;
  }
  
  .lgifilListCss {
    cursor: pointer;
    background-color: rgb(226,240,217);
    border-left-width: 2px;
    border-left-color: rgb(40, 46, 137);
    color: rgb(68,84,106);
    max-height: 40px !important;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .lgifilList1Css {
    cursor: pointer;
    background-color: rgb(180,199,231);
    border-left-width: 2px;
    border-left-color: rgb(40, 46, 137);
    color: rgb(68,84,106);
    max-height: 40px !important;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .indtbl li {
    cursor: pointer;
    max-height: 40px;
  }
  
  .indtbl li.selected {
    background-color:rgb(230,230,250);
  }
  
  .indtbl .badge {
    font-size:small; 
    font-weight:500;
    color:  rgb(40, 46, 137);
    padding-right: 10px;
  }
  
  .lgiexpandCss {
    max-height: 35px !important;
    background-color:white;
  
  }
  
  .ipgcss {
    background-color:white;
    outline: none;
    font-size:small; 
    font-weight:400;
    min-height: 30px;
    color:  rgb(40, 46, 137);
     box-shadow:none !important;
    border-bottom: transparent;
  }
  
  .ipgcss1 {
    background-color:white;
    outline: none;
    font-size:small; 
    font-weight:400;
    min-height: 30px;
    color:  rgb(40, 46, 137);
    box-shadow:none !important;
  }
  
  
  .ipgappcss {
    background-color: white;
    border-left-width: 5px;
    border-left-color: rgb(40, 46, 137);
  }
  
  
  .crdhedCss {
    background-color:transparent;
    color:  rgb(40, 46, 137);
    border-width: 2px;
    border-color: rgb(40, 46, 137);
    font-size:small; 
    font-weight:500;
  
  }
  
  .cadbodyCss {
    padding-top: 2px;
    padding-bottom: 2px;  
    padding-left: initial;
    padding-right: initial;
  
  }
  
  .ipgDetCss {
    width: 170px;
    font-size: 0.8rem;
    font-weight: 400;
    max-height: 30px;
    color:  rgb(40, 46, 137);
    background-color:rgb(230,230,250);
    border-bottom: transparent;
  }

  .ipgDetCss1 {
    width: 170px;
    font-size: 0.8rem;
    font-weight: 400;
    max-height: 30px;
    color:  rgb(40, 46, 137);
    background-color:rgb(230,230,250);
  }
  
  .pdleft {
    padding-left: initial;
    
    max-height: calc(100vh - 23rem);
    overflow-y: auto;
  }
  
  .tabCarbodyCss {
    padding-top: 2px;
    padding-left: initial;
    padding-right: initial;
    padding-bottom: initial;
  
   
  }
  
  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
  
  .crdhedDetailCss {
  
    background-color:transparent;
    color:  rgb(40, 46, 137);
    border-width: 2px;
    border-color: rgb(40, 46, 137);
  
    font-size:small; 
    font-weight:500; 
  }
  
  .navlCss {
    padding-top: 4px;
    min-width: 200px;
    text-align: center;
    height: 25px;
    font-size:small; 
    font-weight:500;
  }
  
  .btntitlecss {
    padding-top: 5px;
    padding-left: initial;
    color: rgb(40, 46, 137);
    outline: none;
    box-shadow:none !important;
  }
  
  
  
  .icobtn {
    padding-top: initial;
    height: 25px;
    outline: none;
    box-shadow:none !important;
    background-color: transparent;
  }
  
  .bgcrdChartCss {
    background-color:white;
  }
  
  .btncust1css {
    width: 214px !important;
    background-color: white;
    color:black;
    font-size:small; 
    font-weight:500;
  }
  
  .btncust2css {
    width: 214px !important;
    background-color: rgb(40, 46, 137);
    color:white;
    font-size:small; 
    font-weight:500;
  }
  
  .ipgcsstitle {
    background-color:transparent;
    outline: none;
    box-shadow:none !important;
    border-top: 0px;
    color: rgb(40, 46, 137);
    font-size:small; 
    font-weight:500;
  }
  
  .pdtoplevel {
    padding-top: 6px;
  }
  
  .temptest {
    width: 120px !important;
    background-color:#87CEEB; 
    color: black;
  }
  
  .ipgcsstitle1 {
    background-color:transparent;
    outline: none;
    box-shadow:none !important;
    border-bottom-width: 2px;
    border-bottom-color: rgb(40, 46, 137);
    border-top: 0px;
    color: rgb(40, 46, 137);
    font-size:small; 
    font-weight:500;
  }
  
  .crdboderCss {
    border-top-width: 2px;
    border-top-color: rgb(40, 46, 137);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  
  }
  
  .btngroupcss1 {
    color:rgb(40, 46, 137);
    cursor: pointer;
  }
  
  .dropmenucss {
    max-height: 220px;
    color:rgb(40, 46, 137);
    font-size:14px;
    font-weight:600;
    border-left-width: 2px;
    border-left-color: rgb(40, 46, 137);
  }
  
  .ddpedCss {
    border-bottom-width: 2px;
    border-bottom-color: rgb(40, 46, 137);
  }
  
  .ipgSerchFilterCss {
    background-color: white;
    color: rgb(40, 46, 137);
    font-size:smaller;
    font-weight: 400;
    border-bottom-width: 2px;
    border-bottom-color: rgb(40, 46, 137);
    outline: none;
    box-shadow: none !important;
  }
  
  .dropdwfilter {
    width: 135px;
    height: 34px;
    background-color: white;
    color: rgb(40, 46, 137);
    font-size: 0.8rem;
    font-weight: 400;
    border-right: 0px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(40, 46, 137);
    outline: none;
    box-shadow: none !important;
  }
  
  .modalConCss {
    min-width: 1000px;
  }
  
  .modelBodyCss {
    padding: 0.4rem;
    padding-bottom: initial;
  overflow-y: inherit;
  }
  
  .scrollCard {
    height: calc(100vh - 16rem);
    overflow-y: scroll;
    overflow-x: hidden;
  } 

  .modalFoterBtn {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: rgb(40, 46, 137);
    min-width: 150px;
  }

  .headcsstitle {
    background-color:aliceblue;

    color:rgb(40, 46, 137);
    outline: none;
    box-shadow:none !important;
    font-size:small; 
    font-weight:500;
  }

  .btnTranspCss {
    background-color:#FFFF99;

  }
  
  .btnColorCss {
    background-color:white;
  
  }

  .headcsstitle1 {
    background-color: rgb(40, 46, 137);
    border-style: groove;
    color: white;
    outline: none;
    box-shadow:none !important;
    border-top: 0px;
    font-size:small; 
    font-weight:500;
  }
  
  
  
  
  