.bcCss {
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: initial;
}

.bdcpdicon {
  padding-left: 5px;
  padding-right: 10px;
}

.lindent {
  height: calc(100vh - 10.95em) !important;
  overflow-y: scroll;
  overflow-x: auto;
}

.ipg1css {
  max-width: 130px;
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-right: 0px;
  outline: none;
  box-shadow: none !important;
}

.ipg2css {
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-left: 0px;
  outline: none;
  box-shadow: none !important;
}

.lgifilList1Css {
  background-color: rgb(180, 199, 231);
  color: rgb(40, 46, 137);
  max-height: 40px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn1 {
  background-color: transparent;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
}

.btn2 {
  background-color: transparent;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
}

.ipgFilterCss {
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-right: 0px;
  outline: none;
  box-shadow: none !important;
}

.ipgDateCss {
  max-width: 100px;
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-right: 0px;
  outline: none;
  box-shadow: none !important;
}

.ipgcsstitle {
  width: 100px;
  background-color: transparent;
  outline: none;
  box-shadow: none !important;
  border-top: 0px;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
}

.crdboderCss {
  border-top-width: 2px;
  border-top-color: rgb(40, 46, 137);
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  background-color: transparent;
}

.cadbodyCss {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: initial;
  padding-right: initial;
}

.ipgDetCss {
  width: 170px;
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
  border-bottom: transparent;
}

.ipgDetCss1 {
  width: 170px;
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
}




.ipgAppCss {
  width: inherit;
}

.btnGrpUpdate {
  height: 25px;
  width: -webkit-fill-available;
  border-right-width: 2px;
  border-right-color: rgb(40, 46, 137);
  border-bottom-width: 1px;
  border-bottom-color: rgb(40, 46, 137);
  background-color: transparent;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  outline: none;
  box-shadow: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnGrpLsUpdate {
  height: 25px;
  width: -webkit-fill-available;
  border-bottom-width: 1px;
  border-bottom-color: rgb(40, 46, 137);
  background-color: transparent;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  outline: none;
  box-shadow: none !important;
}

.ipgcss {
  background-color: white;
  outline: none;
  font-size: small;
  font-weight: 400;
  min-height: 30px;
  color: rgb(40, 46, 137);
  box-shadow: none !important;
  border-bottom: transparent;
}

.ipgcss1 {
  background-color: white;
  outline: none;
  font-size: small;
  font-weight: 400;
  min-height: 30px;
  color: rgb(40, 46, 137);
  box-shadow: none !important;
}

.cardtabCss {
  border-bottom-width: 2px;
  border-bottom-color: rgb(40, 46, 137);
  background-color: transparent;
}

.tabCarbodyCss {
  padding-top: initial;
  padding-left: initial;
  padding-right: initial;
  padding-bottom: 2px;
}

.md5Css {
  padding-left: initial;
  padding-right: initial;
}

.scrollCard {
  height: calc(100vh - 22.5rem);

  overflow-y: scroll;
  overflow-x: hidden;
}

.lgiexpandCss {
  line-height: 1rem;

  color: rgb(40, 46, 137);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.30rem;
  background-color: white;
}

.switchText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indtbl {
  width: max-content;
  min-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.indtbl li {
  cursor: pointer;
}

.lbllistcss {
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

.indtbl li {
  cursor: pointer;
  max-height: 40px;
}

.indtbl li.selected {
  background-color: rgb(230, 230, 250);
}

.indtbl .badge {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(40, 46, 137);
  padding-right: 10px;
}

.crdfooterCss {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 500px;
  background-color: red;
  color: white;
  text-align: center;

}

.footerBtnCss {
  width: 200px;
  height: 30px;
  background-color: rgb(40, 46, 137);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.testbroder {
  border-top-width: 1px;
  border-top-color: rgb(40, 46, 137);
}


.ipgprcss {
  background-color: #ffffd0;
  outline: none;
  box-shadow: none !important;
}

.ipgTit1Css {
  width: 170px;
  color: rgb(40, 46, 137);
  background-color: lightsteelblue;
  ;
}

.ipgTit2Css {
  background-color: lightsteelblue;
  outline: none;
  box-shadow: none !important;
  width: 50px;
}

.ipgTit3Css {
  background-color: lightsteelblue;
  ;
  outline: none;
  box-shadow: none !important;

}

.scrollCardExfCss {
  height: calc(100vh - 25.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.exfTypeSlection {
  background-color: rgb(40, 46, 137);
  height: 35px;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}


.fciCss {
  background-color: white;
}

.ipgreadOnlycss {
  max-height: 42px;
  outline: none;
  box-shadow: none !important;
}

.ipgreadOnlycss1 {
  max-height: 30px;
  outline: none;
  box-shadow: none !important;
}

.ipgDetCsspmt {
  width: 170px;
  min-height: 42px;
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
}


.ipgreadOnlycsspmt {
  resize: none;
  font-size: 0.8rem;
  font-weight: 400;
  outline: none;
  box-shadow: none !important;
}

.textlable {
  resize: none;
  color: rgb(40, 46, 137);
  min-height: 70px;
  font-size: 0.8rem;
  font-weight: 400;
  outline: none;
  box-shadow: none !important;
}

.scrollCardPmtCss {
  height: calc(100vh - 25.5rem);

  overflow-y: scroll;
  overflow-x: hidden;


}

.scrollCardLcCss {
  height: calc(100vh - 25.5rem);

  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollCardComCss {
  background-color: transparent;
  height: calc(100vh - 22rem);
  overflow-y: auto;
  overflow-x: hidden;
  behavior: 'smooth'

}

.scrollCardShpCss {
  background: transparent;
  height: calc(100vh - 22rem);
  overflow-y: scroll;
  overflow-x: hidden;
  behavior: 'smooth';
}

.jumbo {
  height: 577px;
  padding-top: 250px;
  background-color: transparent;
  color: rgb(40, 46, 137);
}

.dropdwfilter {

  width: 150px;
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-right: 0px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(40, 46, 137);
  outline: none;
  box-shadow: none !important;
}

.ipgSerchFilterCss {
  background-color: white;
  color: rgb(40, 46, 137);
  font-size: 0.8rem;
  font-weight: 400;
  border-bottom-width: 2px;
  border-bottom-color: rgb(40, 46, 137);
  outline: none;
  box-shadow: none !important;
}

.btnTranspCss {
  background-color: rgb(40, 46, 137);
  color: white;
}

.btnColorCss {
  background-color: transparent;
  color: rgb(40, 46, 137);
}

.footerbg {
  position: fixed;
  clear: both;
  bottom: 0;
  height: 40px;
  width: 895px;
  border-top: rgb(40, 46, 137);
  border-top-style: solid;
  text-align: center;
  background-color: transparent;

}

.lcigCss {
  width: 465px;
}

.igpalert {
  margin-bottom: 0px;
  padding-top: 2px;
  height: 28px;
}

.btnCloseAlert {
  height: 28px;
  background-color: transparent;
  padding-top: initial;
  outline: none;
  box-shadow: none !important;
}

.modalConCss {
  min-width: 1000px;
}



.bgModalTitleColor {
  background-color: ghostwhite;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(40, 46, 137);
  padding-right: 10px;
}

.bgModalDataColor {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(40, 46, 137);
  padding-right: 10px;
}

.breadcrumb {
  margin-top: 2rem;
  margin-bottom: initial;
  padding: 5px 15px !important;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.footerupdate {
  height: 40px;
  max-height: 40px;
  position: fixed;
  bottom: 2px;
  text-align: center;
  border-top: rgb(230, 230, 250);
  border-top-style: inset;
  background-color: white;
}


.rpcss {
  padding-right: 3%;
}

.exfTypeSlection {
  background-color: rgb(40, 46, 137);
  height: 35px;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

.addInvoice {
  width: 100px;
  height: 30px;
  background-color: rgb(40, 46, 137);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.unstyled {
  list-style-type: none;
}

.pbtncss {
  border-right-width: 10px;
  outline: none;
  box-shadow: none !important;
}

.lgcollcss {
  margin-left: 2.4rem;
}

.lgcollcss ul {
  list-style-type: none;
}

.btn-outline-ishida {
  color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:hover {
  color: #fff;
  background-color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida.focus,
.btn-outline-ishida:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}

.btn-outline-ishida.disabled,
.btn-outline-ishida:disabled {
  color: #282E89;
  background-color: transparent
}

.btn-outline-ishida:not(:disabled):not(.disabled).active,
.btn-outline-ishida:not(:disabled):not(.disabled):active,
.show>.btn-outline-ishida.dropdown-toggle {
  color: #fff;
  background-color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:not(:disabled):not(.disabled).active:focus,
.btn-outline-ishida:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-ishida.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}


/* css  */
.invalid-tooltip {
  position: absolute;
  top: 0px;
  right: 30px;
  color: #dc3545;
  background: transparent;
}

.input-invalid-tooltip {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #dc3545;
  background: transparent;
}

.form-control.is-invalid {
  background-image: none;
}

.custom-select.is-invalid {
  background-image: none;
}

.warning {
  color: #dc3545;
}

input[type="radio"] {
  cursor: pointer;
}

.stsColorCSS {
  background-color: rgb(163 163 229);
}

.stsColorCSS {
  background-color: rgb(230, 230, 250);
}


.modelBtnCss {
  width: 125px;
  height: 30px;
  background-color: rgb(40, 46, 137);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.sort-button {
  border: 0px solid black;
  border-bottom-width: 2px;
  border-top: 1px solid #dee2e6;
  border-bottom-color: rgb(40, 46, 137);
  cursor: pointer;
  background: rgb(40, 46, 137);
}

.sort-icon {
  margin: auto;
  padding: 7px;
  margin-right: 11px;
  padding-left: 11px;
  font-weight: bold;
  color: white;
}

.footer-indent-list {
  height: 40px;
  max-height: 40px;
  position: inherit;
  bottom: 2px;
  border-top: rgb(230, 230, 250);
  border-top-style: inset;
  background-color: white;
}

.activePage {
  z-index: 3;
  color: #fff;
  background-color: rgb(40, 46, 137) !important;
  border-color: rgb(40, 46, 137) !important;
  border-top-color: rgb(40, 46, 137) !important;
  border-right-color: rgb(40, 46, 137) !important;
  border-bottom-color: rgb(40, 46, 137) !important;
  border-left-color: rgb(40, 46, 137) !important;
}

.activePage .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgb(40, 46, 137) !important;
  border-color: rgb(40, 46, 137) !important;
  border-top-color: rgb(40, 46, 137) !important;
  border-right-color: rgb(40, 46, 137) !important;
  border-bottom-color: rgb(40, 46, 137) !important;
  border-left-color: rgb(40, 46, 137) !important;
}


.indentNoCSS {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(40, 46, 137);
}

.disable-cursor {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width:1320px) {
  .scrollable {
    height: 400px;
    overflow-y: auto;
  }

}


@media only screen and (max-width:1320px) {
  .margin-left-button {
    margin-left: 38px;
  }
}

.ishida-background {
  background-color: rgb(40, 46, 137);
  color: white;
}


.table-res thead th {
  position: sticky;
  top: 0;
  background-color: rgb(230, 230, 250);
  color: #282e89;
  font-size: 0.8rem;
  font-weight: 500;
  z-index: 1;
}


td {
  border: 1px solid #dee2e6;
}

th {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  border-top: none;
}

.scroll {
  max-height: 200px;
  overflow-y: auto;
}

.contact-account-wrap {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sos-summary-wrap {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indent-sheet-wrap {
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.return-btn-css {
  width: 100px;
  background-color: rgb(40, 46, 137);
  color: white;
}


.uppercase {
  text-transform: uppercase;
}


.scroll-table {
  margin-top: 10px;
  max-height: calc(100vh - 25.5rem);
  overflow-y: auto;
}

.scroll-charge-table {
  margin-top: 5px;
  max-height: calc(100vh - 33rem);
  overflow-y: auto;
}


.responsive-width-pmt {
  width: 107px;
}

.responsive-width-select {
  width: 332px;
}

.responsive-width-total {
  width: 226px;
  margin-right: 0px;
}

@media only screen and (max-width:1320px) {
  .responsive-width-pmt {
    width: 97px;
  }

  .responsive-width-select {
    width: 193px;
  }

  .responsive-width-total {
    width: 135px;
    margin-right: 0px;
  }

}

@media only screen and (max-width:1536px) and (min-width:1319.9px) {
  .responsive-width-pmt {
    width: 105px;
  }

  .responsive-width-select {
    width: 245px;
  }

  .responsive-width-total {
    width: 177px;
    margin-right: 0px;
  }
}

@media only screen and (max-width:1745.45px) and (min-width:1536.1px) {
  .responsive-width-pmt {
    width: 110px;
  }

  .responsive-width-select {
    width: 290px;
  }

  .responsive-width-total {
    width: 204px;
    margin-right: 0px;
  }
}

tbody tr:hover {
  color: #282E89;
}

tbody tr td {
  font-size: 0.8rem;
}

.no-padding-button {
  padding-top: 0px;
  padding-bottom: 0px;
}


/* .mismatch-field {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
} */

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}



.btn-transparent-order-type {
  height: 29px;
  width: -webkit-fill-available;
  border-color: rgb(40, 46, 137);
  border-radius: 0px !important;
  font-size: 0.8rem !important;
  font-weight: 400;
  outline: none;
  box-shadow: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  color: rgb(40, 46, 137);
}

.btn-color-order-type {
  background-color: rgb(40, 46, 137);
  color: white;
}

.hover-button {
  position: absolute;
  left: 400px;
  top: 1px;
  height: 26px;
  width: 105px;
  background-color: rgba(46, 49, 146, 1);
  border-radius: 5px;
}

.col-id {
  min-width: 50px;
}

.col-inv-req {
  min-width: 150px;
}

.col-inv-iss {
  min-width: 130px;
}

.col-inv-no {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-ewb {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-ewb-date {
  min-width: 130px;
}

.col-trans {
  min-width: 130px;
}

.col-dis-date {
  min-width: 130px;
}

.col-org-ind {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-des-ind {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-org-act {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-des-act {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.col-mac {
  min-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  max-width: 130px;
}

.inv-table th:first-child,
td:first-child {
  position: sticky;
  left: 0px;
  border-left: 0px;
}

.inv-table td:first-child {
  background: rgb(230, 230, 250);
}

.inv-table th:first-child {
  background: rgb(230, 230, 250);
  /* background:#282e89;  */
  color: #282E89;
  z-index: 3;
}

.inv-table th:nth-child(2),
td:nth-child(2) {
  position: sticky;
  left: 48px;
  border-left: 0px;
}

.inv-table td:nth-child(2) {
  background: rgb(230, 230, 250);
}

.inv-table th:nth-child(2) {
  /* background:#282e89;  */
  background: rgb(230, 230, 250);
  color: #282E89;
  z-index: 2;
}

.inv-table th:nth-child(3),
td:nth-child(3) {
  position: sticky;
  left: 176px;
  border-left: 0px;
}

.inv-table td:nth-child(3) {
  background: rgb(230, 230, 250);
}

.inv-table th:nth-child(3) {
  /* background:#282e89;  */
  background: rgb(230, 230, 250);
  color: #282E89;
  z-index: 2;
}

tr th,
tr td {
  font-size: 0.8rem;
}



.table-sticky-head thead th {
  position: sticky;
  top: 0;
  background-color: rgb(230, 230, 250);
  color: #282e89;
  font-size: 0.8rem;
  font-weight: 500;
  z-index: 1;
}


.table-sticky-head {
  height: calc(100vh - 25rem);
  overflow-y: auto;
  overflow-x: auto;
}


.inv-right-side-label {
  width: 200px;
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
}

.inv-right-side-input {
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  outline: none;
  box-shadow: none !important;
}

.selected-invoice {
  background-color: rgb(230, 230, 250) !important;
}

.invoice-table tr {
  cursor: pointer;
}


.inv-scrollCard {
  height: calc(100vh - 27.2rem);

  overflow-y: scroll;
  overflow-x: hidden;
}

tr.groupedRow td {
  /* background: rgb(230,230,250) !important; */
  border-top: solid rgb(40, 46, 137);
  /* border-bottom: 1px solid rgb(214, 126, 126);
  border-top: 1px solid rgb(214, 126, 126); */
}


/* further styling */

.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(170, 169, 169, 0.6);
  z-index: 1060;
  /* higher than Bootstrap modal (Bootstrap uses 1050 for modals) */
}

.preview-content {
  width: 80%;
  height: 90%;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.preview-content-2 {
  width: 60%;
  height: 90%;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.preview-close-icon {
  float: inline-end;
  cursor: pointer;
  position: sticky;
  z-index: 1;
  top: 0;
}


.file-thumbnail {
  height: calc(100vh - 14rem);
  overflow-y: auto;
  overflow-x: auto;
}

.attachment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachment-index {
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.fileCss {
  max-width: 150px;
  min-width: 150px;
  border: 1px solid gray;
  height: 150px;
}

.pdf-view {
  width: 100%;
  height: calc(100vh - 14rem) !important;
  overflow-x: auto;
  overflow-y: auto;
}

.delete-icon {
  margin-left: 10px;
}

.zoom-controls {
  z-index: 10;
}

.preview-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}


.custom-file-upload {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #87ceeb;
  /* Modern dashed border */
  border-radius: 10px;
  background-color: #f9f9f9;
  /* Light background */
  transition: border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  max-width: 400px;
  /* Adjust width as needed */
  margin: auto;
}

.custom-file-upload:hover {
  border-color: #1e90ff;
  /* Highlight border color */
  background-color: #f0f8ff;
  /* Slightly darker background */
}

.upload-label {
  font-size: 12px;
  color: #1e90ff;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.upload-label i {
  font-size: 20px;
}

#fileInput {
  display: none;
  /* Hide the native file input */
}

.selected-thumbnail {
  /* border: 1px solid #000000;  */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 62, 129, 0.5);
}



.invoice-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(170, 169, 169, 0.6);
  z-index: 1000;
}

.invoice-content {
  width: 85%;
  max-height: 85%;
  background: white;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modelBodyCss {
  flex: 1;
  overflow-y: auto !important;
  /* padding: 1rem; */
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #dee2e6;
  flex-shrink: 0;
  /* padding: 0.5rem; */
}

#formFileInput {
  display: none;
}

input[type="file"] {
  display: none;
}

.inv-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0px 22px 0px 22px;
  cursor: pointer;
}


.disabled {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}


.modal .modal-dialog-aside {
  width: 650px;
  max-width: 80%;
  height: calc(100vh - 0rem);
  margin: 0;
  transform: translate(0);
  transition: transform .2s;
}

.modal .modal-dialog-aside .modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 0rem);
  border: 0;
  border-radius: 0;
}

.modal .modal-dialog-aside .modal-content .modal-body {
  overflow-x: hidden;
  overflow-y: auto
}

.modal.fixed-left .modal-dialog-aside {
  margin-left: auto;
  transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
  margin-right: auto;
  transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
  transform: translateX(0);
}

.doc-items {
  padding: 3px !important;
}

.active-tab {
  background-color: #282e89 !important;
  color: white !important;
}

.select-file{
   margin-left: -90px;
}

/* .form-check-input[type="checkbox"] {
  border-radius: 80% !important; 
} */
 .region-card:hover{
  cursor: pointer !important;
 }

 .searchEmail:focus {
  outline: none; /* Remove default outline */
  
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}