<!-- nav bar -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb border bg-transparent shadow-sm">
        <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
            (click)="homeRouterInit()">
            Home
        </li>
        <li class="breadcrumb-item active" style="color:rgb(40, 46, 137); cursor: pointer;" aria-current="page"
            (click)="iboardPlanningInit()">
            <u>IBoard Planning</u>
        </li>
    </ol>
</nav>
<!-- nav bar ends -->

<!-- tab bar -->
<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin:0px 10px 5px 10px;">

    <li class="nav-item navlinkcss">
        <a class="nav-link active navlinkcss" routerLink="/ii/iboard-planning" id="global-setting" data-toggle="tab"
            role="tab" aria-selected="false">IBoard Planning</a>
    </li>
    <li class="nav-item navlinkcss">
        <a class="nav-link  navlinkcss" routerLink="/ii/daily-planning" id="global-setting" data-toggle="tab" role="tab"
            aria-selected="false">Daily Planning</a>
    </li>
    <!-- <li class="nav-item navlinkcss">
        <a class="nav-link navlinkcss" routerLink="/ii/iboard-setting" id="global-setting" data-toggle="tab" role="tab"
            aria-selected="false">IBoard Setting</a>
    </li> -->
    <li class="nav-item navlinkcss">
        <a class="nav-link navlinkcss" routerLink="/ii/iboard-files" id="global-setting" data-toggle="tab" role="tab"
            aria-selected="false">IBoard Files</a>
    </li>

</ul>
<!-- tab bar ends -->

<div class="container-fluid confludCss">
    <div class="row">
        <div class="col-md-4" style="padding-right: 5px;">
            <div id="listExpand">
                <div>
                    <div class="input-group input-group-sm">
                        <input class="form-control ipgcsstitle rounded-0 border-0" value="PRIORITY DATA"
                            aria-describedby="basic-addon2" readonly>
                    </div>
                </div>

                <!-- priority data cards -->
                <div class="card cardtabCss border-0" style="padding-top: 2px;">
                    <div class="input-group  input-group-sm" style=" height: 26px;">
                        <div class="input-group-append ipgAppCss"
                            style="margin-left: initial;margin-right: initial;margin-bottom: initial;">
                            <button class="btn btn-transparent-order-type" type="button"
                                [ngClass]="{'btn-color-order-type':indentType=='High Priority'}"
                                (click)="getHighPrIndents()">
                                High Priority
                            </button>
                            <button class="btn btn-transparent-order-type" type="button"
                                [ngClass]="{'btn-color-order-type':indentType=='Medium Priority'}"
                                (click)="getMedPrIndents()">
                                Medium Priority
                            </button>
                            <button class="btn btn-transparent-order-type" type="button"
                                [ngClass]="{'btn-color-order-type':indentType=='Low Priority'}"
                                (click)="getLowPrIndents()">
                                Low Priority
                            </button>
                            <button class="btn btn-transparent-order-type" type="button"
                                [ngClass]="{'btn-color-order-type':indentType=='All Priorities'}"
                                (click)="getAllPrIndents()">
                                All
                            </button>
                        </div>
                    </div>
                </div>
                <!-- priority data cards ends -->

                <div>
                    <!-- search bar and length of list -->
                    <div class="input-group input-group-sm mb-1" style="margin-top: 5px;">
                        <div class="input-group-prepend">
                            <div class="input-group-text ipgcss2 rounded-0"><i class="fa fa-fw fa-search"></i></div>
                        </div>
                        <input type="search" class="form-control ipgcss1 rounded-0" placeholder="Search... "
                            maxlength="{{searchMaxLength}}" [(ngModel)]="searchText" style="width:400px; height: 35px;"
                            (input)="globalSearchKeyUp()" title="search box" required>

                        <div class="input-group-append" *ngIf="highLengthFlag" style="margin-top:1px;">
                            <span class="badge rounded-0"
                                style="font-size: 12px;font-weight: 500;border: none;outline: none;height: 32px;   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;color: silver; background-color: #FFFFFF ; padding-top: 10px; width: 49px;"><i
                                    class="fa fa-list mr-1"></i>{{highPriorityDataLength}}</span>
                        </div>

                        <div class="input-group-append" *ngIf="mediumLengthFlag" style="margin-top:1px;">
                            <span class="badge rounded-0"
                                style="font-size: 12px;font-weight: 500;border: none;outline: none;height: 32px;   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;color: silver; background-color: #FFFFFF ; padding-top: 10px; width: 49px;"><i
                                    class="fa fa-list mr-1"></i>{{medPriorityDataLength}}</span>
                        </div>

                        <div class="input-group-append" *ngIf="lowLengthFlag" style="margin-top:1px;">
                            <span class="badge rounded-0"
                                style="font-size: 12px;font-weight: 500;border: none;outline: none;height: 32px;   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;color: silver; background-color: #FFFFFF ; padding-top: 10px; width: 49px;"><i
                                    class="fa fa-list mr-1"></i>{{lowPriorityDataLength}}</span>
                        </div>

                        <div class="input-group-append" *ngIf="allLengthFlag" style="margin-top:1px;">
                            <span class="badge rounded-0"
                                style="font-size: 12px;font-weight: 500;border: none;outline: none;height: 32px;   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;color: silver; background-color: #FFFFFF ; padding-top: 10px; width: 49px;"><i
                                    class="fa fa-list mr-1"></i>{{allPriorityDataLength}}</span>
                        </div>
                    </div>
                    <!-- search bar and length of list ends-->

                    <!-- priority wise lists -->

                    <div class="lindent" *ngIf="highPriorityList">

                        <ul class="list-group indtbl">
                            <li class="list-group-item lgiexpandCss rounded-0"
                                *ngFor="let indentlist of highPriorityData"
                                [class.selected]="indentlist === selectedIndent" (click)="onSelect(indentlist)">

                                <label class="small lbllistcss  ml-1"
                                    style="margin-right: 160px; width: 115px; ">{{indentlist.indent_sheet_num}}</label>
                                <label class="small lbllistcss mr-1 ml-1">{{indentlist.sos_summary | uppercase
                                    }}</label>
                                <div>
                                    <label class="small lbllistcss mr-1 ml-1">
                                        {{indentlist.contract_acnt_name}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="lindent" *ngIf="medPriorityList">

                        <ul class="list-group indtbl">
                            <li class="list-group-item lgiexpandCss rounded-0"
                                *ngFor="let indentlist of medPriorityData"
                                [class.selected]="indentlist === selectedIndent" (click)="onSelect(indentlist)">

                                <label class="small lbllistcss  ml-1"
                                    style="margin-right: 160px; width: 115px;">{{indentlist.indent_sheet_num}}</label>

                                <label class="small lbllistcss mr-1 ml-1">{{indentlist.sos_summary | uppercase
                                    }}</label>
                                <div>
                                    <label class="small lbllistcss mr-1 ml-1">
                                        {{indentlist.contract_acnt_name}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="lindent" *ngIf="lowPriorityList">

                        <ul class="list-group indtbl">
                            <li class="list-group-item lgiexpandCss rounded-0"
                                *ngFor="let indentlist of lowPriorityData"
                                [class.selected]="indentlist === selectedIndent" (click)="onSelect(indentlist)">
                                <label class="small lbllistcss  ml-1"
                                    style="margin-right: 160px; width: 115px;">{{indentlist.indent_sheet_num}}</label>
                                <label class="small lbllistcss mr-1 ml-1">{{indentlist.sos_summary | uppercase
                                    }}</label>
                                <div>
                                    <label class="small lbllistcss mr-1 ml-1">
                                        {{indentlist.contract_acnt_name}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="lindent" *ngIf="allPriorityList">
                        <ul class="list-group indtbl">
                            <li class="list-group-item lgiexpandCss rounded-0" *ngFor="let indentlist of indents"
                                [class.selected]="indentlist === selectedIndent" (click)="onSelect(indentlist)">

                                <label class="small lbllistcss ml-1"
                                    style="margin-right: 160px; width: 115px; ">{{indentlist.indent_sheet_num}}</label>
                                <label class="small lbllistcss mr-1 ml-1">{{indentlist.sos_summary | uppercase
                                    }}</label>
                                <div>
                                    <label class="small lbllistcss ml-1"
                                        style="width: 278px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {{indentlist.contract_acnt_name}}
                                    </label>
                                    <label class="small lbllistcss ">{{indentlist.customer_po_num | uppercase}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- priority wise lists ends-->
                </div>
            </div>
        </div>

        <div class="col-md-8" style="padding-left:initial" *ngIf="defaultTitle">
            <div class="jumbotron jumbo text-center rounded-0">
                <h1>Priority Indents!</h1>
                <p>Select Any Indent From Priority Data to Update.</p>
            </div>
        </div>

        <div class="col-md-8" style="padding-left:initial" *ngIf="indentFormDetail">
            <!-- indent details -->
            <div class="input-group input-group-sm">
                <input class="form-control ipgcsstitle rounded-0 border-0" value="GENERAL DETAILS"
                    aria-describedby="basic-addon2" readonly>
                <button class="btn btn-sm mr-3  ipgcsstitle rounded-0" title="High Priority Indents" data-toggle="modal"
                    data-target="#indentPriorityModal"> DISPLAY BOARD</button>
            </div>

            <div class="card crdboderCss  rounded-0">
                <div class="card-body cadbodyCss">
                    <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                            <span class="input-group-text  ipgDetCss rounded-0" aria-describedby="inputGroup-sizing-sm"
                                aria-label="Small" id="inputGroup-sizing-sm">INDENT SHEET NO.</span>
                        </div>
                        <input type="text" readonly value="{{indentSheetNum}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" aria-describedby="inputGroup-sizing-sm"
                                style="border-right: transparent;" aria-label="Small" id="inputGroup-sizing-sm">IIPO
                                NO.</span>

                        </div>
                        <input type="text" readonly value="{{poNo }}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">SOS
                                SUMMARY</span>
                        </div>
                        <input type="text" readonly value="{{sosSummary}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">VD-INVOICE</span>
                        </div>

                        <input type="text" readonly value="{{invoice}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">ORDER
                                TYPE</span>
                        </div>
                        <input type="text" readonly value="{{orderType}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">VD-EXF</span>
                        </div>
                        <input type="text" readonly value="{{exf | date:'yyyy-MM-dd'}}"
                            class="form-control rounded-0 ipgcss" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">SALES
                                NAME</span>
                        </div>
                        <input type="text" readonly value="{{sales1}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">


                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">VD-EXF
                                STATUS</span>
                        </div>
                        <input type="text" readonly value="{{exfStatus}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">PROD. EXF
                                DATE</span>
                        </div>
                        <input type="text" readonly value="{{prod_date| date:'yyyy-MM-dd'}}"
                            class="form-control rounded-0 ipgcss" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">


                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0 " style="border-right: transparent;"
                                id="inputGroup-sizing-sm">
                                <span style="border-right: 1px solid ; padding-right: 12px;"> VD-ETD</span>
                                <span style="padding-left: 10px;"> ACT-ETD</span>
                            </span>

                        </div>
                        <input type="text" readonly
                            [value]="(etd ? (etd | date:'yyyy-MM-dd') : 'yyyy-mm-dd') + '    |    ' + (customer_etd ? (customer_etd | date:'yyyy-MM-dd') : 'yyyy-mm-dd')"
                            class="form-control rounded-0 ipgcss" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">PROD. EXF
                                STATUS</span>
                        </div>
                        <input type="text" readonly value="{{prod_sts}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">PMT/DEL STATUS</span>
                        </div>
                        <input type="text" readonly value="{{pmt_sts}} / {{del_sts}}"
                            class="form-control rounded-0 ipgcss" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-prepend">
                            <span class="input-group-text ipgDetCss rounded-0" id="inputGroup-sizing-sm">CONTRACT ACNT
                                NAME</span>
                        </div>
                        <input type="text" readonly value="{{contractAcntName}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">CUSTOMER PO NO.</span>
                        </div>
                        <input type="text" readonly value="{{customer_po_num}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">PMT TERMS</span>
                        </div>
                        <input type="text" readonly value="{{pmt_trms}}" class="form-control rounded-0 ipgcss"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm ">

                        <div class="input-group-append ">
                            <span class="input-group-text ipgDetCss1 rounded-0" style="border-right: transparent;"
                                id="inputGroup-sizing-sm">FOR INFO</span>
                        </div>
                        <textarea type="text" readonly value="{{for_info}}" class="form-control rounded-0 ipgcss1"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                            style="height: 45px; resize: none; display: block;"></textarea>
                    </div>
                    <!-- indent details ends -->

                </div>
            </div>

            <div class="input-group input-group-sm" style="cursor: pointer;" style="background-color:white;">
                <input class="form-control ipgcsstitle rounded-0 border-0" value="{{tabtitlebtn}}"
                    aria-describedby="basic-addon2" readonly>
            </div>

            <div class="card  crdboderCss  rounded-0">

                <!-- form to set priority and remarks -->
                <form [formGroup]="indentPriorityForm">
                    <div class="row " style="margin-left: inherit; margin-right: inherit;">
                        <div class="col-6" style="padding:initial">
                            <div class="card-body tabCarbodyCss" style="background-color:transparent;">
                                <br>
                                <div class="input-group input-group-md mb-2  pl-0 mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 uppercase"
                                            id="inputGroup-sizing-md">REMARKS</span>
                                    </div>
                                    <textarea type="text" formControlName="remarks" maxlength="{{remarksLength}}"
                                        class="form-control rounded-0 ipgcss1" aria-label="Small"
                                        aria-describedby="inputGroup-sizing-md"
                                        style="height: 58px; resize: none; display: block;" [(ngModel)]="remarks1"
                                        (input)="onInputChange(value)"></textarea>
                                </div>

                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">LINKED INDENTS</span>
                                    </div>
                                    <textarea type="text" formControlName="linked_indents"
                                        style="height: 50px;resize: none; display: block;"
                                        class="form-control rounded-0 ipgcss1" [(ngModel)]="linked_indents"
                                        (input)="onInputChange(value)"></textarea>
                                </div>

                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">DISPATCH LOCATION</span>
                                    </div>

                                    <input type="text" formControlName="dispatch_location"
                                        class="form-control rounded-0 ipgcss1" [(ngModel)]="dispatch_location"
                                        (input)="onInputChange(value)" />
                                </div>
                            </div>
                        </div>

                        <div class="col-6" style="padding:initial; padding-left: 5px">
                            <div class="card-body tabCarbodyCss" style="background-color:transparent;">
                                <br>
                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">SET PRIORITY</span>
                                    </div>
                                    <select class="custom-select rounded-0 ipgcss1" aria-label="Small"
                                        [(ngModel)]="priorityType" aria-describedby="inputGroup-sizing-md"
                                        formControlName="indentPriority">
                                        <option value="1" disabled>HIGH</option>
                                        <option value="2" disabled>MEDIUM</option>
                                        <option value="3" disabled>LOW</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">SET POSITION</span>
                                    </div>
                                    <select class="custom-select rounded-0 ipgcss1" aria-label="Small"
                                        aria-describedby="inputGroup-sizing-md" formControlName="indentPosition"
                                        [(ngModel)]="priorityPosition" (input)="onInputChange(value)">
                                        <option value="" disabled>Choose Position...</option>
                                        <option value="999">Default Position</option>
                                        <option *ngFor="let pos of positions" [value]="pos">
                                            {{ pos }}
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">SET REGION</span>
                                    </div>
                                    <select class="custom-select rounded-0 ipgcss1" aria-label="Small"
                                        aria-describedby="inputGroup-sizing-md" formControlName="indentRegion"
                                        [(ngModel)]="region" (input)="onInputChange(value)">
                                        <option value="" disabled>Choose Region...</option>
                                        <option *ngFor="let region of region_list" [value]="region.REGION_NAME">
                                            {{ region.REGION_NAME }}
                                        </option>
                                    </select>
                                </div>

                                <div class="input-group input-group-md mb-2 mt-1  pl-0 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0 ipgDetCss1 stsColorCSS uppercase"
                                            id="inputGroup-sizing-md">FRIEGHT TERMS</span>
                                    </div>
                                    <input type="text" formControlName="frieght_trms"
                                        class="form-control rounded-0 ipgcss1" [(ngModel)]="frieght_trms"
                                        (input)="onInputChange(value)" />
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <!-- form to set priority and remarks ends -->
            </div>

            <!-- update form inputs button -->
            <div class="col-md-8 footerupdate">
                <div>
                    <button type="button" class="btn footerBtnCss btn-sm mt-1 rounded-0" [disabled]="!isFormChanged"
                        (click)="Update()">
                        <i class="fa fa-paper-plane mr-1"></i>UPDATE
                    </button>
                </div>
            </div>
            <!-- update form inputs button ends-->
        </div>
    </div>
</div>

<!-- top priority indents modal -->
<div class="modal fade fixed-left" id="indentPriorityModal" tabindex="-1" role="dialog"
    aria-labelledby="modalScrollableTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-notify modal-success modal-dialog-aside"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-ishida">TOP PRIORITY INDENTS</h4>
            </div>

            <div class="modal-body" style="padding-left:initial;  " *ngIf="filteredHighPriorityDataLength == 0">
                <div class="jumbotron jumbo text-center rounded-0">
                    <p>There are zero Positioned Indents on Display Board.</p>
                </div>
            </div>
            <div *ngIf="filteredHighPriorityDataLength > 0" class="modal-body">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <ng-container *ngFor="let indentlist of filteredHighPriorityData">
                            <tr>
                                <th scope="row">{{indentlist.priority_position}}</th>
                                <td><span>{{indentlist.indent_sheet_num}} | {{indentlist.sos_summary |
                                        uppercase}}</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span>{{indentlist.contract_acnt_name}}</span></td>
                            </tr>
                            <tr style=" border-top: rgb(230, 230, 250); border-top-style: inset;"></tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-ishida rounded-0 modal-btn" aria-label="Close"
                    data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- top priority indents modal ends-->