.breadcrumb {
  margin-top: 2rem;
  margin-bottom: initial;
  padding: 5px 15px !important;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6;
  /* Add border bottom */
}

.nav-link {
  color: #333;
  /* Tab text color */
  background-color: transparent;
  /* Tab background color */
  border: none;
  /* Remove border */
  border-radius: 0;
  /* Remove border radius */
}

.nav-link.active {

  background-color: #fff;
  /* Active tab background color */
  border-bottom: 2px solid rgb(40, 46, 137);
  /* Add bottom border to active tab */
}

.nav-link:hover {
  color: rgb(40, 46, 137);
  /* Hover tab text color */
}


.navlinkcss {
  font-size: 12px;
  font-weight:500;
  background-color:transparent;
  color:#2E3192;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
 
  border-color: transparent;
  background-color: transparent;
  border-bottom:  solid #2E3192;
  color:#2E3192;
  font-size: 12px;
  font-weight:500;
  /* margin: 0px 0px -1px; */
}

.nav-link:hover {
  border-color: transparent;
}

.nav-tabs {
  background-color:transparent;
  position: relative;
  color:#282e89 !important;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
  border-bottom: transparent;
 }

/* new */

.bcCss {
  padding: revert;
  min-height: 30px;
  max-height: 30px;
}

.grid_sn {
  min-width: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid_userid {
  min-width: 100px;
}

.grid_username {
  min-width: 220px;
}

.grid_email {
  min-width: 350px;
}

.grid_department {
  min-width: 220px;
}

.grid_designation {
  min-width: 220px;
}

.grid_role {
  min-width: 170px;
}

.grid_action {
  min-width: 150px;
}

.scroll {
  height: calc(100vh - 10.5rem);
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

.scrollModal {
  /* height: calc(100vh - 38rem); */
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

.user-card {
  background: #282e89;
  color: white;
  min-height: 45px;
  padding: inherit;
  padding-top: 10px;
}

.current-user-card {
  cursor: pointer;
}

.active-user-card {
  cursor: pointer;
}

.conflucss {
  margin-top: 0px;
  height: calc(100vh - 6.5rem);
  font-size: 0.8rem;
  border-style: ridge;
  border-color: rgb(40, 46, 137);
  border-width: thin;
}

.btn-outline-ishida {
  color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:hover {
  color: #fff;
  background-color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida.focus,
.btn-outline-ishida:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}

.btn-outline-ishida.disabled,
.btn-outline-ishida:disabled {
  color: #282E89;
  background-color: transparent
}

.btn-outline-ishida:not(:disabled):not(.disabled).active,
.btn-outline-ishida:not(:disabled):not(.disabled):active,
.show>.btn-outline-ishida.dropdown-toggle {
  color: #fff;
  background-color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:not(:disabled):not(.disabled).active:focus,
.btn-outline-ishida:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-ishida.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}

.hoverTable tr:hover {
  background-color: rgba(255, 204, 51, 0.7) !important;
}

.table tr.active td {
  background-color: rgba(40, 167, 69, 0.7) !important;
  color: white;
}

.bgbodycrd {
  background: transparent;
}


.bgbodycrd:hover .selected {
  transform: scale(1.3);

}

.invalid-tooltip {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #dc3545;
  background: transparent;
}

.form-control.is-invalid {
  background-image: none;
}

.custom-select.is-invalid {
  background-image: none;
}

.warning {
  color: #dc3545;
}

.ipgDetCss1 {
  width: 30px;
  font-size: 0.8rem;
  font-weight: 400;
  max-height: 30px;
  color: rgb(40, 46, 137);
  background-color: rgb(230, 230, 250);
}

.ipgcss1 {
  background-color: white;
  outline: none;
  font-size: small;
  font-weight: 400;
  min-height: 30px;
  color: rgb(40, 46, 137);
  box-shadow: none !important;
}

.table-res thead th {
  position: sticky;
  top: 0;
  background-color: rgb(40, 46, 137);
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}

.selectUserListBackground {
  background-color: rgb(231 230 255);
}

td {
  border: 1px solid #dee2e6;
}

th {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  border-top: none;
}



.order-card {
  color: #282e89;
}

.bg-c-blue {
  background-color: rgb(230, 230, 250);
}

.bg-c-green {
  background-color: rgb(230, 230, 250);
}

.bg-c-yellow {
  background-color: rgb(230, 230, 250);
}

.user-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cardUserData {
  color: rgb(40, 46, 137);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  box-shadow: none !important;
}








.user-card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}




@media (min-width: 1375px) {
  .circular-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #edf1fc;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #282e89;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .padding-top {
    padding-top: 15px;
  }

  .button-padding-top {
    padding-top: 1rem;
  }
}

@media (max-width: 1376px) {
  .circular-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #edf1fc;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    color: #282e89;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
  }

  .button-padding-top {
    padding-top: 3px;
  }
}


.active-user-css {
  border-left: 4px solid #282e80;
  border-radius: 5px;
  width: 100%;
}

.email-sender {
  width: 98%;
  height: 550px;
  margin: 20px auto;
  /* background-color: #fff; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.email-sender-header {
  /* background-color: #ebf2fa; */
  color: #282E89;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.email-sender-header input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  background: transparent;
  color: black;
  font-size: 16px;
}

.email-sender-body {
  padding: 20px;
  min-height: 150px;
  white-space: pre-line;
  resize: none;
}

.email-sender-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 150px;
  resize: vertical;
  font-size: 16px;
}

.email-sender-footer {
  text-align: right;
  padding: 10px;
}

.email-sender-send-button {
  background-color: #dde0f0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.email-sender-send-button:hover {
  background-color: #005cbf;
}



.btn-outline-ishida {
  color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:hover {
  color: #fff !important;
  background-color: #282E89 !important;
  border-color: #282E89 !important
}

.btn-outline-ishida.focus,
.btn-outline-ishida:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}

.btn-outline-ishida.disabled,
.btn-outline-ishida:disabled {
  color: #282E89;
  background-color: transparent
}

.btn-outline-ishida:not(:disabled):not(.disabled).active,
.btn-outline-ishida:not(:disabled):not(.disabled):active,
.show>.btn-outline-ishida.dropdown-toggle {
  color: #fff;
  background-color: #282E89;
  border-color: #282E89
}

.btn-outline-ishida:not(:disabled):not(.disabled).active:focus,
.btn-outline-ishida:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-ishida.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 46, 137, .1)
}


.form-control.is-invalid {
  background-image: none;
}

.custom-select.is-invalid {
  background-image: none;
}


.invalid-tooltip {
  position: absolute !important;
  top: 0px !important;
  right: 5px !important;
  z-index: 5;
  color: #dc3545;
  background: transparent;
}

.invalid-input {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5;
}

.invalid-select {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5;
}

.btncss {
  /* background-color:#f3f2ed7c;  */
  background-color: #ffffff;
  color: #2E3192;
  text-align: center;
  font-size: 12px;
  font-weight: 500;

  outline: none;
  box-shadow: none;
}



.btncss:hover {
  background-color: #2E3192;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  outline: none;
  box-shadow: none;
}

.highlight-card {
  /* background-color:#282b5c9a !important; */
  background-color: #343792e3 !important;
  color: #F6F6F6 !important;
  font-weight: 500;
  font-size: 12px;
  min-width: 32%;
  max-width: 32%;
}

.btncsss {
  /* background-color:#f3f2ed7c;  */
  background-color: #ffffff;
  color: #2E3192;
  text-align: center;
  font-size: 12px;
  font-weight: 500;

  outline: none;
  box-shadow: none;
}

.on-off-button {
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
}

.on-off-button.on { 
  background-color: #f1f1f1; 
  color: black;
}

.on-off-button.off { 
  background-color: #f1f1f1; 
  color: black;
}

.on-off-button.active { 
  background-color: #282E89; 
    color: white;
    outline: none;
}


.textarea-container {
  position: relative;
}

.textarea-input {
  width: 100%;
  height: 100px;
  padding-bottom: 20px; /* Provide space for the readonly text */
}

.readonly-overlay {
  position: absolute;
 
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* padding: 5px; */
 /* Slightly opaque background */
  pointer-events: none; /* Prevent interaction with the overlay */
  color: #000000; /* Gray color to differentiate */
  font-size: 16px;
}