

<div class="row">

    <div class="col-8">
        <p>approver-view works!</p>

        <!-- <button type="button" class="btn btn-primary btn-sm btn-floating " style="background-color: #6d84b8;" (click)="getFiles()">
            <i class="bi bi-eye"></i> View Travel Policy
              </button> -->
    </div>

    <div *ngIf="showPolicy" class="col-4" style=" height: calc(100vh - 5.0rem) !important;">

        <pdf-viewer [src]="fileURL" [render-text]="true" [show-all]="true" [fit-to-page]="true"
        style="width: 100%; height: calc(100vh - 5.0rem) !important;"></pdf-viewer>

    </div>
</div>
