
//Text font
$heading:1.25rem;
$heading-1:1.2rem;

$heading-2:1.1rem;
$heading-3:1rem;
$heading-weight:500;
$sub-heading-weight:400;

//Background color
$tab-background-color:#e0e1e6;
$side-bar-background-color:#fff;
// $card-background-color:white;

$card-box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

$header-bar-background-color:white;
$header-bar-height:40px;
$header-bar-width: 100%;
$header-font-weight:600;
$header-bar-box-shadow:2px 1px 5px #aaaaaa;
$header-align-item:center;

$text-color: rgb(0,0,0);

//button
$button-background-color: #282E89;
$button-width:100px;

